<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <!--nfinebase库-->
      <add key="conn_nfinebase" value="YNmhifTW8giLheUIyAy12fwNy9i7Etx1PqFSTzOH9vti87wq6UkEnBAp4drg2JgPKYe1NfEW8qOdQ7nyc+onbCK4/Lu/0xi4vXHlX2JuYpS1nkkS3AQRsOPJMmDNOMagefQcbqTqB0Q=" />
      <!--外协追踪-延期天数-->
      <!--当数据的实际值大于设置的天数,就读取下列的颜色，去改变整行的字体颜色-->
      <add key="wx_delay_days" value="3" />
      <add key="wx_delay_days_colour" value="#CCFF33" />
      <!--物料追踪-延期天数-->
      <!--当数据的实际值大于设置的天数,就读取下列的颜色，去改变整行的字体颜色-->
      <!--<add key="wl_delay_days" value="3" />
      <add key="wl_delay_days_colour" value="#D80000" />-->
    </appSettings>
</configuration>