<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--<add name="NFineDbContext" connectionString="Server=.;Initial Catalog=NFineBase;User ID=sa;Password=123" providerName="System.Data.SqlClient" />-->
  <add name="NFineDbContext" connectionString="Data Source=124.70.178.55;port=3306;Initial Catalog=test_NFineBase;user id=sunxuhong;password=DearSon@520.;" providerName="MySql.Data.MySqlClient" />

  <add name="NFineDbContextDetailed" connectionString="Data Source=124.70.178.55;port=3306;Initial Catalog=test_NFineBase;user id=sunxuhong;password=DearSon@520.;" providerName="MySql.Data.MySqlClient" />
  <!--<add name="NFineDbContextDetailed" connectionString="Server=124.70.178.55;Initial Catalog=WaterCloudNetDb;User ID=sa;Password=123qwe...;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />-->
  <!--<add name="NFineDbContext" connectionString="Data Source=192.168.2.96;port=3306;Initial Catalog=NFineBase;user id=root;password=Pxk!Yx@Bmk#Zgx 2016;" providerName="MySql.Data.MySqlClient" />-->
</connectionStrings>