<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <!--nfinebase库-->
      <add key="conn_nfinebase" value="YNmhifTW8giLheUIyAy12fwNy9i7Etx1PqFSTzOH9vti87wq6UkEnBAp4drg2JgPKYe1NfEW8qOdQ7nyc+onbCK4/Lu/0xi4vXHlX2JuYpS1nkkS3AQRsOPJMmDNOMagefQcbqTqB0Q=" />
      <!--班组合格率大于等于（pass_rate_days）多少天，就设置大于且等于（DY_pass_rate_days_colour）的颜色，反之设置（XY_pass_rate_days_colour）小于的颜色-->
      <add key="pass_rate_days" value="90" />
      <add key="DY_pass_rate_days_colour" value="#01B468" />
      <add key="XY_pass_rate_days_colour" value="#F9F900" />
      <!--异常处理单据明细-->
      <!--处理方式:的条件匹配则显示下面(Treatment_Method_Colour)的颜色-->
      <add key="Treatment_Method" value="报废" />
      <add key="Treatment_Method_Colour" value="##F9F900" />
    </appSettings>
</configuration>