/packages
/.vs
bin
obj
*.user
*.suo
Web.Debug.config
Web.Release.config
/NFine.Web/Web.Debug.config
/NFine.Web/Web.Release.config
/DB/*.mdf
/DB/*.ldf
/DataSynchronization/.vs
/DataSynchronization/TeamSynCapacityAndTrend/bin
/DataSynchronization/TeamSynCapacityAndTrend/obj
/DataSynchronization/TeamSynDeviceAndTask/bin
/DataSynchronization/TeamSynDeviceAndTask/obj
/NineGongge/NineGongge/bin
/NineGongge/NineGongge/obj
/NineGongge/NineGongge/.vs
