<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <!--nfinebase库-->
      <add key="conn_nfinebase" value="YNmhifTW8giLheUIyAy12fwNy9i7Etx1PqFSTzOH9vti87wq6UkEnBAp4drg2JgPKYe1NfEW8qOdQ7nyc+onbCK4/Lu/0xi4vXHlX2JuYpS1nkkS3AQRsOPJMmDNOMagefQcbqTqB0Q=" />
      <!--运行状态界面颜色控制-->
      <!--CNC1发那科-->
      <add key="CNC1_colour" value="#FF0000" />
      <!--CNC2发那科-->
      <add key="CNC2_colour" value="#00FF00" />
      <!--CNC3发那科-->
      <add key="CNC3_colour" value="#0000FF" />
      <!--CMM2海克斯康-->
      <add key="CMM2_colour" value="#FFFF00" />
      <!--Robot机器人-->
      <add key="Robot_colour" value="#00FFFF" />
      <!--清洗机-->
      <add key="QXJ_colour" value="#FF00FF" />

      <!--料仓颜色控制(显示1-2号)-->
      <!--未开始-->
      <add key="NotStarted_colour" value="#D24D57" />
      <!--进行中-->
      <add key="Conduct_colour" value="#26A65B" />
      <!--已完成-->
      <add key="Completed_colour" value="#EB7347" />
      <!--异常-->
      <add key="Abnormal_colour" value="#84AF9B" />
      <!--停止-->
      <add key="Stop_colour" value="#FC9D99" />
      <!--取消-->
      <add key="Cancel_colour" value="#00CCFF" />

    </appSettings>
</configuration>