<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <!--nfinebase库-->
      <add key="conn_nfinebase" value="YNmhifTW8giLheUIyAy12fwNy9i7Etx1PqFSTzOH9vti87wq6UkEnBAp4drg2JgPKYe1NfEW8qOdQ7nyc+onbCK4/Lu/0xi4vXHlX2JuYpS1nkkS3AQRsOPJMmDNOMagefQcbqTqB0Q=" />
      <!--设备运行状态颜色-->
      <!--注意：当前运作状态的颜色与"运行状态"页面中的css保持一直，这里修改Index也要修改-->
      <!--离线-->
      <add key="offline_colour" value="#c8c8c8" />
      <!--待机-->
      <add key="standby_colour" value="#0865e3" />
      <!--运行中-->
      <add key="inoperation_colour" value="#23ab33" />
      <!--暂停-->
      <add key="suspend_colour" value="#ffc000" />
      <!--报警-->
      <add key="giveanalarm_colour" value="#ee5d5d" />
      <!--未就绪-->
      <add key="notready_colour" value="#0fcdfd" />
      <!--停止-->
      <add key="stopit_colour" value="#fc9711" />


      <!--料仓颜色控制(显示1-2号)-->
      <!--未开始-->
      <add key="NotStarted_colour" value="#D24D57" />
      <!--进行中-->
      <add key="Conduct_colour" value="#26A65B" />
      <!--已完成-->
      <add key="Completed_colour" value="#EB7347" />
      <!--异常-->
      <add key="Abnormal_colour" value="#84AF9B" />
      <!--停止-->
      <add key="Stop_colour" value="#FC9D99" />
      <!--取消-->
      <add key="Cancel_colour" value="#00CCFF" />

    </appSettings>
</configuration>