<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <!--nfinebase库-->
      <add key="conn_nfinebase" value="YNmhifTW8gjLziTc4oOLV7Q7ejptU9A6lf0uJQUZOaMFprdlqc5oIMVpe7IwOK87tijrKm8KocHuIpZKTGgUMpVEj7NpkSs9OetSniAl4MadwzXlnZ2KU1syiblQy3V0ipq8AHi8glivSX0ifVSm3Q==" />
      <!--数据采集设备图片URL-->
      <add key="Device_Url" value="/Content/img/product/collection/cnc1.png" />
      <!--同步当前前几分钟的数据(分钟计算)-->
      <add key="Syn_minute" value="-2" />

      <!--设备状态颜色-->
      <!--离线-->
      <add key="offline_colour" value="#c8c8c8" />
      <!--待机-->
      <add key="standby_colour" value="#0865e3" />
      <!--运行中-->
      <add key="inoperation_colour" value="#23ab33" />
      <!--暂停-->
      <add key="suspend_colour" value="#ffc000" />
      <!--报警-->
      <add key="giveanalarm_colour" value="#ee5d5d" />
      <!--未就绪-->
      <add key="notready_colour" value="#0fcdfd" />
      <!--停止-->
      <add key="stopit_colour" value="#fc9711" />
    </appSettings>
</configuration>