<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <!--nfinebase库-->
      <add key="conn_nfinebase" value="YNmhifTW8giLheUIyAy12fwNy9i7Etx1PqFSTzOH9vti87wq6UkEnBAp4drg2JgPKYe1NfEW8qOdQ7nyc+onbCK4/Lu/0xi4vXHlX2JuYpS1nkkS3AQRsOPJMmDNOMagefQcbqTqB0Q=" />
      
    </appSettings>
</configuration>