@{
    ViewBag.Title = "中航表2";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script src="~/Content/js/echarts/4.3/echarts.js"></script>
<script src="~/Content/js/bootstrap/bootstrap.js"></script>
<link href="~/Content/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/js/pages/AdminLTE.css" rel="stylesheet" />
<link href="~/Content/js/pages/appbasesOn.css" rel="stylesheet" />
<style>
    div.ui-jqgrid-view table.ui-jqgrid-btable {
        border-style: none;
        border-top-style: none;
        border-collapse: separate;
    }

        div.ui-jqgrid-view table.ui-jqgrid-btable td {
            border-left-style: none;
        }

    div.ui-jqgrid-view table.ui-jqgrid-htable {
        border-style: none;
        border-top-style: none;
        border-collapse: separate;
    }

    div.ui-jqgrid-view table.ui-jqgrid-btable th {
        border-left-style: none;
    }
</style>
<div class="row">

</div>