@{
    ViewBag.Title = "客户分布";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script src="~/Content/js/echarts/4.3/echarts.js"></script>
<script src="~/Content/js/pages/world.js"></script>

<link href="~/Content/js/pages/appbase.css" rel="stylesheet" />

<script>
    window.onload = function () {
        loadFive();
    }
    function loadFive() {
        var myChart = echarts.init(document.getElementById('chart4b'));
        var data = [[{ name: '北美洲', value: 0 }], [{ name: '南美洲', value: 0 }], [{ name: '非洲', value: 0 }], [{ name: '欧洲', value: 0 }], [{ name: '大洋洲', value: 0 }], [{ name: '印度', value: 0 }], [{ name: '中国', value: 1 }]]
        var geoCoordMap = { '北美洲': [-101.670961, 41.103997], '南美洲': [-58.842054, -11.895087], '非洲': [22.106051, 14.099049], '欧洲': [15.777381, 49.971800], '大洋洲': [132.637011, -25.596128], '印度': [78.475369, 22.934290], '中国': [113.651000, 39.526776] };
        var convertData = function (data) {
            var res = [];
            for (var i = 0; i < data.length; i++) {
                var dataItem = data[i];
                var fromCoord = geoCoordMap[dataItem[0].name];
                var toCoord = [116.46, 39.92];
                if (fromCoord && toCoord) {
                    res.push([{
                        coord: fromCoord,
                        value: dataItem[0].value
                    }, {
                        coord: toCoord,
                    }]);
                }
            }
            return res;
        };

        var series = [];
        [['北京', data]].forEach(function (item, i) {
            console.log(item);
            series.push({
                type: 'lines', zlevel: 2,
                effect: { show: true, period: 4, trailLength: 0.02, symbol: 'arrow', symbolSize: 5, },
                lineStyle: { normal: { width: 1, opacity: 1, curveness: .3, color: '#00fefe' } },
                data: convertData(item[1])
            }, {
                type: 'effectScatter', coordinateSystem: 'geo', zlevel: 2,
                rippleEffect: { period: 4, brushType: 'stroke', scale: 4 },
                label: {
                    normal: {
                        show: true, position: 'right', offset: [5, 0], fontSize: 15,
                        formatter: function (params) { return params.data.name; }
                    },
                    emphasis: { show: true }
                },
                symbol: 'circle',
                symbolSize: function (val) {
                    return 6 + val[2] * 5;
                },
                itemStyle: { normal: { show: false, color: '#00fefe' } },
                data: item[1].map(function (dataItem) {
                    return { name: dataItem[0].name, value: geoCoordMap[dataItem[0].name].concat([dataItem[0].value]) };
                }),
            },
              {
                  type: 'scatter', coordinateSystem: 'geo', zlevel: 2,
                  rippleEffect: { period: 4, brushType: 'stroke', scale: 4 },
                  label: {
                      normal: {
                          show: true, position: 'right',
                          color: '#0f0', formatter: '{b}',
                          textStyle: { color: '#0f0' }
                      },
                      emphasis: { show: true, color: '#f60' }
                  },
              }
            );
        }
        );

        option = {
            backgroundColor: 'transparent',
            tooltip: {
                trigger: 'item',
                backgroundColor: 'rgba(25,25,44,0.5)',
                textStyle: { color: '#e1e2e5' }
            },

            geo: {
                map: 'world',
                zoom: 1.2,
                label: {
                    emphasis: {
                        show: false
                    }
                },
                roam: true,
                itemStyle: {
                    normal: {
                        areaColor: '#091643',
                        borderColor: '#24273e'
                    },
                    emphasis: {
                        areaColor: '#17a086'
                    }
                }
            },

            series: series
        };
        myChart.setOption(option);
        window.onresize = echart.resize;
        function resize(width, height) {
            var chart = document.getElementById('chart4b');
            chart.style.width = width + "px";
            chart.style.height = height + "px";
            echart.resize();
        }
    }
</script>
<body>
    <div class="row">
        <div class="tab-content" style="height:100%;">
            <div style="text-align:center;font-size:13px;color:#ffffff;">全球分布</div>
            <div id="chart4b" style="height:670px; "></div>
        </div>
    </div>
</body>