@{
    ViewBag.Title = "经营概览";
    Layout = "~/Views/Shared/_Index.cshtml";
}
@*<script src="~/Content/js/jquery/jquery-2.1.1.min.js"></script>*@
<script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
@*<script src="~/Content/js/echarts/echarts.min.js"></script>版本有点小差异*@
<script src="~/Content/js/bootstrap/bootstrap.js"></script>
<link href="~/Content/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/js/pages/AdminLTE.css" rel="stylesheet" />
<link href="~/Content/js/pages/AdminLTE.min.css" rel="stylesheet" />
<style>
</style>
<script>
    window.onload = function () {
        loadOne1a();
        loadOne1b();
        loadTwo();
    }
    function loadOne1a() {
        var myChart = echarts.init(document.getElementById('chart1a'));
        // 指定图表的配置项和数据
        var option = {
            title: {//标题组件
                text: '￥' + 266.36 + '万',
                top: '45%',
                left: '35%',
                textStyle: {
                    color: "#505050",
                    fontSize: 15,
                    fontFamily: 'KaiTi',
                }
            },
            tooltip: { //提示框组件
                trigger: 'item', //触发类型(饼状图片就是用这个)
                formatter: "{b} : ({c}%)"//"{a} <br/>{b} : {c} ({d}%)" //提示框浮层内容格式器
            },
            color: ['#FFFF99', '#CCCC66', '#00CC99', '#FF3333'],  //手动设置每个图例的颜色
            legend: {  //图例组件
                //right:100,  //图例组件离右边的距离
                orient: 'horizontal',  //布局  纵向布局 图例标记居文字的左边 vertical则反之
                width: 40,      //图行例组件的宽度,默认自适应
                x: 'left',   //图例显示在右边
                y: 'top',   //图例在垂直方向上面显示居中
                itemWidth: 10,  //图例标记的图形宽度
                itemHeight: 10, //图例标记的图形高度
                data: ['物料', '外协', '自制', '异常'],
                textStyle: {    //图例文字的样式
                    color: '#333',  //文字颜色
                    fontSize: 12    //文字大小
                }
            },
            series: [ //系列列表
                {
                    //name:'设备状态',  //系列名称
                    type: 'pie',   //类型 pie表示饼图
                    center: ['50%', '50%'], //设置饼的原心坐标 不设置就会默认在中心的位置
                    radius: ['50%', '70%'],  //饼图的半径,第一项是内半径,第二项是外半径,内半径为0就是真的饼,不是环形
                    itemStyle: {  //图形样式
                        normal: { //normal 是图形在默认状态下的样式；emphasis 是图形在高亮状态下的样式，比如在鼠标悬浮或者图例联动高亮时。
                            label: {  //饼图图形上的文本标签
                                show: true,  //平常不显示
                                formatter: '{c}%',
                                position: 'inner'
                            },
                            labelLine: {     //标签的视觉引导线样式
                                show: false  //平常不显示
                            }
                        },
                        emphasis: {   //normal 是图形在默认状态下的样式；emphasis 是图形在高亮状态下的样式，比如在鼠标悬浮或者图例联动高亮时。
                            label: {  //饼图图形上的文本标签
                                show: true,
                                position: 'center',
                                textStyle: {
                                    fontSize: '20',
                                    fontWeight: 'bold'
                                }
                            }
                        }
                    },
                    data: [
                        { value: 27, name: '物料' },
                        { value: 18, name: '外协' },
                        { value: 53, name: '自制' },
                        { value: 2, name: '异常' }
                    ]
                }
            ]
        };
        myChart.setOption(option);
    }
    function loadOne1b() {
        var myChart = echarts.init(document.getElementById('chart1b'));
        var option = {
            //title: {
            //    text: '某站点用户访问来源',
            //    subtext: '纯属虚构',
            //    left: 'center'
            //},
            tooltip: {
                trigger: 'item',
                formatter: "{b} : ({c}%)"
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                itemWidth: 10,  //图例标记的图形宽度
                itemHeight: 10, //图例标记的图形高度
                data: ['CNC', 'EDM', 'WEDM', '车铣磨抛']
            },
            color: ['#FFFF99', '#CCCC66', '#00CC99', '#FF3333'],
            series: [
                {
                    name: '访问来源',
                    type: 'pie',
                    radius: '65%',
                    center: ['50%', '50%'],
                    data: [
                        { value: 23, name: 'CNC' },
                        { value: 26, name: 'EDM' },
                        { value: 17, name: 'WEDM' },
                        { value: 34, name: '车铣磨抛' },
                    ],
                    itemStyle: {  //图形样式
                        normal: { //normal 是图形在默认状态下的样式；emphasis 是图形在高亮状态下的样式，比如在鼠标悬浮或者图例联动高亮时。
                            label: {  //饼图图形上的文本标签
                                show: true,  //平常不显示
                                formatter: '{c}%',
                                position: 'inner'
                            },
                            labelLine: {     //标签的视觉引导线样式
                                show: false  //平常不显示
                            }
                        },
                        emphasis: {   //normal 是图形在默认状态下的样式；emphasis 是图形在高亮状态下的样式，比如在鼠标悬浮或者图例联动高亮时。
                            label: {  //饼图图形上的文本标签
                                show: true,
                                position: 'center',
                                textStyle: {
                                    fontSize: '20',
                                    fontWeight: 'bold'
                                }
                            },
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                }
            ]
        };
        myChart.setOption(option);
    }
    function loadTwo() {

        var myChart = echarts.init(document.getElementById('chart2'));
        var colors = ['#5793f3', '#d14a61', '#675bba'];

        var option = {
            color: colors,
            tooltip: {
                trigger: 'none',
                axisPointer: {
                    type: 'cross'
                }
            },
            grid: {
                top: 70,
                bottom: 50
            },
            xAxis: [
                {
                    type: 'category',
                    axisTick: {
                        alignWithLabel: true
                    },
                    axisLine: {
                        onZero: false,
                        lineStyle: {
                            color: colors[1]
                        }
                    },
                    axisPointer: {
                        label: {
                            formatter: function (params) {
                                return '交期达成率  ' + params.value + (params.seriesData.length ? '：' + params.seriesData[0].data : '')+ '%';
                            }
                        }
                    },
                    data: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12']
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    axisLabel: {
                        show: true,
                        interval: 'auto',
                        formatter: '{value} %'
                    },
                    show: true
                }
            ],
            series: [
                {
                    name: '交期达成率',
                    type: 'line',
                    smooth: true,
                    data: [80, 76, 86, 96, 92, 99, 88, 90, 95, 80, 95, 88],
                    // 显示数值
                    itemStyle: {
                        normal: {
                            label:{
                                  show: true,
                                  formatter: '{c}%',
                                  position: 'bottom',
                                  color: "#505050"
                            }
                        }
                    }
                }
            ]
        };
       myChart.setOption(option);
    }
</script>

<body>
    <div class="row">
        <section class="col-lg-6 connectedSortable" style="width:50%">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h4 class="box-title">生产成本</h4>
                    <select id="select" style="border: solid 1px #000;">
                        <option value="7" selected = "selected">一周</option>
                        <option value="14">两周</option>
                        <option value="21">三周</option>
                        <option value="30">一个月</option>
                        <option value="180">半年</option>
                        <option value="365">一年</option>
                    </select>
                    <div class="box-tools pull-right">
                        <button type="button" onclick="funOne()" class="btn btn-box-tool"><i class="fa fa-expand"></i></button>
                    </div>
                </div>
                <div class="tab-content" style="height:100%;">
                    <div style="float:left;width:50%">
                        <div  style="text-align:center;color:#505050;font-size:15px;">周期总生产成本</div>
                        <div id="chart1a" style="height:315px; margin:10px"></div>
                    </div>
                    <div style="margin-left:50%;width:auto;">
                        <div style="text-align:center;color:#505050;font-size:15px;">自制成本按部门分类</div>
                        <div id="chart1b" style="height:315px; margin:10px"></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="col-lg-6 connectedSortable" style="width:50%">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h4 class="box-title">交付率/进度</h4>
                    <div class="box-tools pull-right">
                        <button type="button" onclick="funTwo()" class="btn btn-box-tool"><i class="fa fa-expand"></i></button>
                    </div>
                </div>
                <div class="tab-content">
                    <div style="text-align:center;color:#505050;font-size:15px;">交期达成率趋势</div>
                    <div id="chart2" style="height:315px; margin:10px"></div>
                </div>
            </div>
        </section>

        <section class="col-lg-6 connectedSortable" style="width:35%">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h4 class="box-title">产能/负载</h4>
                    <div class="box-tools pull-right">
                        <button type="button" onclick="funThree()" class="btn btn-box-tool"><i class="fa fa-expand"></i></button>
                    </div>
                </div>
                <div class="tab-content">
                    <div id="chart3" style="height:315px; margin:10px"></div>
                </div>
            </div>
        </section>

        <section class="col-lg-6 connectedSortable" style="width:65%">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h4 class="box-title">客户分布</h4>
                    <div class="box-tools pull-right">
                        <button type="button" onclick="funThree()" class="btn btn-box-tool"><i class="fa fa-expand"></i></button>
                    </div>
                </div>
                <div class="tab-content">
                    <div id="chart4" style="height:315px; margin:10px"></div>
                </div>
            </div>
        </section>
    </div>
</body>