@{
    ViewBag.Title = "经营概览";
    Layout = "~/Views/Shared/_Index.cshtml";
}
@*<script src="~/Content/js/jquery/jquery-2.1.1.min.js"></script>*@
<script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
@*<script src="~/Content/js/echarts/echarts.min.js"></script>*@
<script src="~/Content/js/bootstrap/bootstrap.js"></script>
<link href="~/Content/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/js/pages/AdminLTE.css" rel="stylesheet" />
<link href="~/Content/js/pages/AdminLTE.min.css" rel="stylesheet" />
<style>
    /*https://www.jb51.net/css/27189.html*/
    .process-bar{width:100px;display:inline-block;*zoom:1;}.pb-wrapper{border:1px solid gray;border-style:solid none;position:relative;background:#cfd0d2;}.pb-container{border:1px solid gray;border-style:none solid;height:12px;position:relative;left:-1px;margin-right:-2px;font:1px/0 arial;padding:1px;}.pb-highlight{position:absolute;left:0;top:0;_top:1px;width:100%;opacity:0.6;filter:alpha(opacity=60);height:6px;background:white;font-size:1px;line-height:0;z-index:1}.pb-text{width:100%;position:absolute;left:0;top:0;text-align:center;font:10px/12px arial;}.pb-text{color:black;font:10px/12px arial}/* -- 以下是重写的皮肤 -- *//* green */.skin-green .pb-wrapper{border-color:#666;border-top-color:#628c2d;}.skin-green .pb-container{border-color:#666;border-left-color:#628c2d;}.skin-green .pb-text{ color:black }/* blue */.skin-blue .pb-wrapper{border-color:#0e7c78;border-top-color:#41beb9;}.skin-blue .pb-container{border-color:#0e7c78;border-left-color:#41beb9;}.skin-blue .pb-text{color:white}.skin-blue .pb-value{background:#159b96;}/* red */.skin-red .pb-wrapper{border-color:#8e1411;border-top-color:#cb3d3a;}.skin-red .pb-container{border-color:#8e1411;border-left-color:#cb3d3a;}.skin-red .pb-text{color:#470200;}.skin-red .pb-value{background:#d70500}/* orange */.skin-orange .pb-wrapper,.skin-orange .pb-container{border-color:#d55110;}.skin-orange .pb-text{color:#250f00;}.skin-orange .pb-value{background:#d75a00;}/* purple */.skin-purple .pb-wrapper,.skin-purple .pb-container{border-color:#a90561;}.skin-purple .pb-text{color:#720040;}.skin-purple .pb-value{background:#9d118e}/* black */.skin-black .pb-wrapper,.skin-black .pb-container{border-color:black}.skin-black .pb-text{color:gray;}.skin-black .pb-value{background:#111111;}/* 分割线样式 */.hua-li-de-fen-ge-xian{border-bottom:2px dashed #eee;height:1px;font-size:1px;margin:5px 0}
    /*.pb-value{height:100%;width:50%;background:#19d73d;}*/
</style>
<script>
    window.onload = function () {
        loadOne1a();
        loadOne1b();
        loadTwo();
        gridList();
        loadThree();
        loadFour();
    }
    function selectType(obj) {
        loadOne1a();
        loadOne1b();
    }
    function selectTypes(obj) {
        loadThree();
    }
    function loadOne1a() {
        var listName = new Array();
        var TotalCost = 0;
        var str =[];
        var keyValue = $('#Type_id option:selected').val();
        $.ajax({
            url: "/OperationMonitoring/BusinessOverview/GetDataTotalCycleCost",
            data: { keyValue: keyValue },
            dataType: "json",
            async: false,
            success: function (data) {
                $(data).each(function (index, item) {
                    if (index == 0) {
                        TotalCost = item.TotalCost;
                    }
                    listName.push(item.Name);
                    var str3 = new Object();
                    str3.name = item.Name;
                    str3.value = item.Cost;
                    str[index] = str3;

                })
            }
        });

        var myChart = echarts.init(document.getElementById('chart1a'));
        // 指定图表的配置项和数据
        var option = {
            title: {//标题组件
                text: '￥' + TotalCost + '万',
                top: '45%',
                left: '35%',
                textStyle: {
                    color: "#505050",
                    fontSize: 15,
                    fontFamily: 'KaiTi',
                }
            },
            tooltip: { //提示框组件
                trigger: 'item', //触发类型(饼状图片就是用这个)
                formatter: "{b} : ({c}%)"//"{a} <br/>{b} : {c} ({d}%)" //提示框浮层内容格式器
            },
            color: ['#FFFF99', '#CCCC66', '#00CC99', '#FF3333'],  //手动设置每个图例的颜色
            legend: {  //图例组件
                //right:100,  //图例组件离右边的距离
                orient: 'horizontal',  //布局  纵向布局 图例标记居文字的左边 vertical则反之
                width: 40,      //图行例组件的宽度,默认自适应
                x: 'left',   //图例显示在右边
                y: 'top',   //图例在垂直方向上面显示居中
                itemWidth: 10,  //图例标记的图形宽度
                itemHeight: 10, //图例标记的图形高度
                data: listName,//['物料', '外协', '自制', '异常'],
                textStyle: {    //图例文字的样式
                    color: '#333',  //文字颜色
                    fontSize: 12    //文字大小
                }
            },
            series: [ //系列列表
                {
                    //name:'设备状态',  //系列名称
                    type: 'pie',   //类型 pie表示饼图
                    center: ['50%', '50%'], //设置饼的原心坐标 不设置就会默认在中心的位置
                    radius: ['50%', '70%'],  //饼图的半径,第一项是内半径,第二项是外半径,内半径为0就是真的饼,不是环形
                    itemStyle: {  //图形样式
                        normal: { //normal 是图形在默认状态下的样式；emphasis 是图形在高亮状态下的样式，比如在鼠标悬浮或者图例联动高亮时。
                            label: {  //饼图图形上的文本标签
                                show: true,  //平常不显示
                                formatter: '{c}%',
                                position: 'inner'
                            },
                            labelLine: {     //标签的视觉引导线样式
                                show: false  //平常不显示
                            }
                        },
                        emphasis: {   //normal 是图形在默认状态下的样式；emphasis 是图形在高亮状态下的样式，比如在鼠标悬浮或者图例联动高亮时。
                            label: {  //饼图图形上的文本标签
                                show: true,
                                position: 'center',
                                textStyle: {
                                    fontSize: '20',
                                    fontWeight: 'bold'
                                }
                            }
                        }
                    },
                    data: str//[ { value: 27, name: '物料' }, { value: 18, name: '外协' }, { value: 53, name: '自制' }, { value: 2, name: '异常' } ]
                }
            ]
        };
        myChart.setOption(option);
    }
    function loadOne1b() {
        var listName = new Array();
        var str = [];
        var keyValue = $('#Type_id option:selected').val();
        $.ajax({
            url: "/OperationMonitoring/BusinessOverview/GetDataCostByDepartment",
            data: { keyValue: keyValue },
            dataType: "json",
            async: false,
            success: function (data) {
                $(data).each(function (index, item) {
                    listName.push(item.Name);
                    var str3 = new Object();
                    str3.name = item.Name;
                    str3.value = item.Cost;
                    str[index] = str3;

                })
            }
        });

        var myChart = echarts.init(document.getElementById('chart1b'));
        var option = {
            //title: {
            //    text: '某站点用户访问来源',
            //    subtext: '纯属虚构',
            //    left: 'center'
            //},
            tooltip: {
                trigger: 'item',
                formatter: "{b} : ({c}%)"
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                itemWidth: 10,  //图例标记的图形宽度
                itemHeight: 10, //图例标记的图形高度
                data: listName//['CNC', 'EDM', 'WEDM', '车铣磨抛']
            },
            color: ['#FFFF99', '#CCCC66', '#00CC99', '#FF3333'],
            series: [
                {
                    name: '访问来源',
                    type: 'pie',
                    radius: '65%',
                    center: ['50%', '50%'],
                    data: str//[{ value: 23, name: 'CNC' },{ value: 26, name: 'EDM' },{ value: 17, name: 'WEDM' },{ value: 34, name: '车铣磨抛' },]
                    ,
                    itemStyle: {  //图形样式
                        normal: { //normal 是图形在默认状态下的样式；emphasis 是图形在高亮状态下的样式，比如在鼠标悬浮或者图例联动高亮时。
                            label: {  //饼图图形上的文本标签
                                show: true,  //平常不显示
                                formatter: '{c}%',
                                position: 'inner'
                            },
                            labelLine: {     //标签的视觉引导线样式
                                show: false  //平常不显示
                            }
                        },
                        emphasis: {   //normal 是图形在默认状态下的样式；emphasis 是图形在高亮状态下的样式，比如在鼠标悬浮或者图例联动高亮时。
                            label: {  //饼图图形上的文本标签
                                show: true,
                                position: 'center',
                                textStyle: {
                                    fontSize: '20',
                                    fontWeight: 'bold'
                                }
                            },
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                }
            ]
        };
        myChart.setOption(option);
    }
    function loadTwo() {
        var ListMonth = new Array();
        var ListDeliveryRate = new Array();

        $.ajax({
            async: false,
            url: "/OperationMonitoring/BusinessOverview/GetDataDeliveryCompletionRate",
            type: "get",
            dataType: "json",
            success: function (da) {
                $(da).each(function (index, item) {
                    ListMonth.push(item.Month);
                    ListDeliveryRate.push(item.DeliveryRate);
                })
            }
        })
        var myChart = echarts.init(document.getElementById('chart2'));
        var colors = ['#5793f3', '#d14a61', '#675bba'];

        var option = {
            color: colors,
            tooltip: {
                trigger: 'none',
                axisPointer: {
                    type: 'cross'
                }
            },
            grid: {
                top: 10,
                bottom: 100
            },
            xAxis: [
                {
                    type: 'category',
                    axisTick: {
                        alignWithLabel: true
                    },
                    axisLine: {
                        onZero: false,
                        lineStyle: {
                            color: colors[1]
                        }
                    },
                    axisPointer: {
                        label: {
                            formatter: function (params) {
                                return '交期达成率  ' + params.value + (params.seriesData.length ? '：' + params.seriesData[0].data : '')+ '%';
                            }
                        }
                    },
                    data: ListMonth//['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12']
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    axisLabel: {
                        show: true,
                        interval: 'auto',
                        formatter: '{value} %'
                    },
                    show: true
                }
            ],
            series: [
                {
                    name: '交期达成率',
                    type: 'line',
                    smooth: true,
                    data: ListDeliveryRate,//[80, 76, 86, 96, 92, 99, 88, 90, 95, 80, 95, 88],
                    // 显示数值
                    itemStyle: {
                        normal: {
                            label:{
                                  show: true,
                                  formatter: '{c}%',
                                  position: 'bottom',
                                  color: "#505050"
                            }
                        }
                    }
                }
            ]
        };
       myChart.setOption(option);
    }
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/OperationMonitoring/BusinessOverview/GetGridJson",
            height: 100,
            colModel: [
                { label: '模具编号', name: 'MoldNo', width: 80, align: 'left' },
                { label: '试模', name: 'MoldTest', width: 60, align: 'left' },
                { label: '类型', name: 'Type', width: 60, align: 'left' },
                { label: '状态', name: 'State', width: 70, align: 'left' },
                { label: '产品名称', name: 'ProductName', width: 80, align: 'left' },
                {
                    label: '计划交期', name: 'PlannedDeliveryDate', width: 100, align: 'left',
                    formatter: "date", formatoptions: { srcformat: 'Y/m/d', newformat: 'Y/m/d' }
                },
                {
                    label: '预警', name: 'EarlyWarning', width: 120, align: 'left',
                    formatter: function (cellvalue, row, index) {
                        return '<div class="process-bar skin-green"><div class="pb-wrapper"><div class="pb-highlight"></div><div class="pb-container"><div class="pb-text">' + index.EarlyWarning + '%</div><div class="pb-value" style="height:100%;width:' + index.EarlyWarning + '%;background:#19d73d;"></div></div></div></div> '
                    }
                },
            ],
            //pager: "#gridPager",
            sortname: 'MoldNo desc',
            viewrecords: true
        });
    }
    function loadThree()
    {
        var listDeviceType = new Array();
        var listDeviceName = new Array();
        var listAll = new Array();
        var keyValue = $('#Types_id option:selected').val();
        $.ajax({
            url: "/OperationMonitoring/BusinessOverview/GetDataBOCapacityLoad",
            data: { keyValue: keyValue },
            dataType: "json",
            async: false,
            success: function (da) {
                $(da).each(function (index, item) {
                    listDeviceType.push(item.DeviceType);
                    listDeviceName.push(item.DeviceName);
                    listAll.push(item);
                })
            }
        })

        $.unique(listDeviceType);
        $.unique(listDeviceName.sort());

        var series = [];
        $.each(listDeviceName, function (index, value) {
            var tempName = new Array();
            var tempArry = new Array();
            $.each(listAll, function (index1, value1) {
                if (value == value1.DeviceName) {
                    tempName = value1.DeviceName;
                    tempArry.push(value1.Number);
                }
            });
            series.push({
                name: tempName,
                type: tempName == "车铣刨磨" ? 'line' : 'bar',
                stack: '广告',
                data: tempArry
            })
        });

        var myChart = echarts.init(document.getElementById('chart3'));

        var option = {
            color: ['#6cce8f', '#e5323e', '#FFFF00'],
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    crossStyle: {
                        color: '#999'
                    }
                }
            },
            toolbox: {
                show: true,
                orient: 'vertical',
                left: 'right',
                top: 'center',
                feature: {
                    mark: { show: true },
                    dataView: { show: true, readOnly: false },
                    magicType: { show: true, type: ['line', 'bar'] },
                    restore: { show: true },
                    saveAsImage: { show: true }
                }
            },
            legend: {
                data: listDeviceName
            },
            xAxis: [
                {
                    type: 'category',
                    data: listDeviceType,
                    axisPointer: {
                        type: 'shadow'
                    }
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    axisLabel: {
                        show: true,
                        interval: 'auto',
                        formatter: '{value} %'
                    },
                    show: true
                }
            ],
            series: series
            //series: [
            //    {
            //        name: '产能',
            //        type: 'bar',
            //        stack: '广告',
            //        data: [95,88, 50,30]
            //    },
            //    {
            //        name: '产能缺口',
            //        type: 'bar',
            //        stack: '广告',
            //        data: [22, 50, 0,0]
            //    },
            //    {
            //        name: '车铣刨磨',
            //        type: 'line',
            //        stack: '广告',
            //        data: [117,138, 30,25]
            //    }
            //]
        };
        myChart.setOption(option, true);
    }
    function loadFour()
    {
        var listName = new Array();
        var str = [];
        $.ajax({
            url: "/OperationMonitoring/BusinessOverview/GetDataKeyCustomers",
            dataType: "json",
            async: false,
            success: function (data) {
                $(data).each(function (index, item) {
                    listName.push(item.Name);
                    var str3 = new Object();
                    str3.name = item.Name;
                    str3.value = item.Number;
                    str[index] = str3;
                })
            }
        });
        var myChart1 = echarts.init(document.getElementById('chart4a'));
        var option1 = {
            //title: {
            //    text: '某站点用户访问来源',
            //    subtext: '纯属虚构',
            //    left: 'center'
            //},
            tooltip: {
                trigger: 'item',
                formatter: "{b} : ({c}%)"
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                itemWidth: 10,  //图例标记的图形宽度
                itemHeight: 10, //图例标记的图形高度
                data: listName
            },
            //color: ['#FFFF99', '#CCCC66', '#00CC99', '#FF3333'],
            series: [
                {
                    name: '访问来源',
                    type: 'pie',
                    radius: '65%',
                    center: ['50%', '50%'],
                    data: str,
                    itemStyle: {  //图形样式
                        normal: { //normal 是图形在默认状态下的样式；emphasis 是图形在高亮状态下的样式，比如在鼠标悬浮或者图例联动高亮时。
                            label: {  //饼图图形上的文本标签
                                show: true,  //平常不显示
                                formatter: '{c}%',
                                position: 'inner'
                            },
                            labelLine: {     //标签的视觉引导线样式
                                show: false  //平常不显示
                            }
                        },
                        emphasis: {   //normal 是图形在默认状态下的样式；emphasis 是图形在高亮状态下的样式，比如在鼠标悬浮或者图例联动高亮时。
                            label: {  //饼图图形上的文本标签
                                show: true,
                                position: 'center',
                                textStyle: {
                                    fontSize: '20',
                                    fontWeight: 'bold'
                                }
                            },
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                }
            ]
        };
        myChart1.setOption(option1);
    }
</script>

<body>
    <div class="row">
        <section class="col-lg-6 connectedSortable" style="width:50%">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h4 class="box-title">生产成本</h4>
                    <select id="Type_id" name="Type" style="border: solid 1px #000;"  onchange="selectType(this)">
                        <option value="1" selected = "selected">一周</option>
                        <option value="2">两周</option>
                        <option value="3">三周</option>
                        <option value="4">一个月</option>
                        <option value="5">半年</option>
                        <option value="6">一年</option>
                    </select>
                    <div class="box-tools pull-right">
                        <button type="button" onclick="funOne()" class="btn btn-box-tool"><i class="fa fa-expand"></i></button>
                    </div>
                </div>
                <div class="tab-content" style="height:100%;">
                    <div style="float:left;width:50%">
                        <div  style="text-align:center;font-size:13px;">周期总生产成本</div>
                        <div id="chart1a" style="height:325px; "></div>
                    </div>
                    <div style="margin-left:50%;width:auto;">
                        <div style="text-align:center;font-size:13px;">自制成本按部门分类</div>
                        <div id="chart1b" style="height:325px; "></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="col-lg-6 connectedSortable" style="width:50%">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h4 class="box-title">交付率/进度</h4>
                    <div class="box-tools pull-right">
                        <button type="button" onclick="funTwo()" class="btn btn-box-tool"><i class="fa fa-expand"></i></button>
                    </div>
                </div>
                <div class="tab-content" style="height:100%;">
                    <div style="height:170px">
                        <div style="text-align:center;font-size:13px;">交期达成率趋势</div>
                        <div id="chart2" style="height:200px;"></div>
                    </div>
                    <div class="gridPanel" style="height:90%;margin:20px;width:98%">
                        <table id="gridList"></table>
                        <div style="text-align:center;font-size:13px;">在制模具进度</div>
                    </div>
                </div>
            </div>
        </section>

        <section class="col-lg-6 connectedSortable" style="width:35%">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h4 class="box-title">产能/负载</h4>
                    <select id="Types_id" name="Types" style="border: solid 1px #000;" onchange="selectTypes(this)">
                        <option value="1" selected="selected">一周</option>
                        <option value="2">两周</option>
                        <option value="3">三周</option>
                        <option value="4">一个月</option>
                        <option value="5">半年</option>
                        <option value="6">一年</option>
                    </select>
                    <div class="box-tools pull-right">
                        <button type="button" onclick="funThree()" class="btn btn-box-tool"><i class="fa fa-expand"></i></button>
                    </div>
                </div>
                <div class="tab-content">
                    <div id="chart3" style="height:325px;"></div>
                </div>
            </div>
        </section>

        <section class="col-lg-6 connectedSortable" style="width:65%">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h4 class="box-title">客户分布</h4>
                    <div class="box-tools pull-right">
                        <button type="button" onclick="funFour()" class="btn btn-box-tool"><i class="fa fa-expand"></i></button>
                    </div>
                </div>
                <div class="tab-content" style="height:100%;">
                    <div style="float:left;width:35%">
                        <div style="text-align:center;font-size:13px;">主要客户</div>
                        <div id="chart4a" style="height:308px; "></div>
                    </div>
                    <div style="margin-left:65%;width:auto;">
                        <div style="text-align:center;font-size:13px;">全球分布</div>
                        <div id="chart4b" style="height:308px; "></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>