

@{
    ViewBag.Title = "EDM班组";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script src="~/Content/js/bootstrap/bootstrap.js"></script>
<link href="~/Content/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
@*<script src="~/Content/js/pages/dashboard.js"></script>*@
<link href="~/Content/js/pages/AdminLTE.css" rel="stylesheet" />
@*<link href="~/Content/js/pages/AdminLTE.min.css" rel="stylesheet" />*@
@*<script src="~/Content/js/echarts/echarts.min.js"></script>*@
@*<script src="~/Content/js/pages/app.js"></script>
    <script src="~/Content/js/pages/app.min.js"></script>*@
<script src="~/Content/js/echarts/4.3/echarts.js"></script>

<link href="~/Content/js/pages/app.css" rel="stylesheet" />
<style>
    div.ui-jqgrid-view table.ui-jqgrid-btable {
        border-style: none;
        border-top-style: none;
        border-collapse: separate;
    }

        div.ui-jqgrid-view table.ui-jqgrid-btable td {
            border-left-style: none;
        }

    div.ui-jqgrid-view table.ui-jqgrid-htable {
        border-style: none;
        border-top-style: none;
        border-collapse: separate;
    }

    div.ui-jqgrid-view table.ui-jqgrid-btable th {
        border-left-style: none;
    }
</style>
<script>
    window.onload = function () {
        OngridList();
        gridList();
        echart01();
        echart02();

        $("div").removeClass("ui-paging-info");//移除分页显示不全的文字

        loop1();
        loop2();
    }
    window.setInterval(function () {
        $("#OngridList").trigger("reloadGrid");
    }, 1000 * 5);
    window.setInterval(function () {
        $("#gridList").trigger("reloadGrid");
    }, 1000 * 30);
    window.setInterval(function () {
        echart01();
        echart02();
    }, 1000 * 60 * 30);
    function loop1() {
        var div = $('#OngridList').closest('.ui-jqgrid-bdiv')[0], offsetHeight = div.offsetHeight//////////////
            , scrollHeight = div.scrollHeight - offsetHeight, scrollTop = 0, timer = 0, ob3 = 30;
        function scrollBody() {
            timer = setInterval(function () {
                scrollTop += 1;
                div.scrollTop = scrollTop;
                if (scrollTop >= scrollHeight) {//循环滚动
                    scrollHeight = div.scrollHeight - offsetHeight;//如果在滚动过程中添加过数据，需要重新结算scrollHeight
                    if (scrollTop >= (ob3 - 16) * 33) {
                        scrollTop = 0; //循环滚动，重置滚动头即可
                    }
                }
            }, 50);
        }
        $('#OngridList').mouseover(function () {//添加over事件，停止滚动
            clearInterval(timer);
        });
        $('#OngridList').mouseout(function (e) {//添加mouseout事件，继续滚动
            scrollBody();
        });
        if (ob3 > 16) {
            scrollBody();///开始滚动jqgrid内容
        }
    }
    function loop2() {
        var div = $('#gridList').closest('.ui-jqgrid-bdiv')[0], offsetHeight = div.offsetHeight//////////////
            , scrollHeight = div.scrollHeight - offsetHeight, scrollTop = 0, timer = 0, ob3 = 20;
        function scrollBody() {
            timer = setInterval(function () {
                scrollTop += 1;
                div.scrollTop = scrollTop;
                if (scrollTop >= scrollHeight) {//循环滚动
                    scrollHeight = div.scrollHeight - offsetHeight;//如果在滚动过程中添加过数据，需要重新结算scrollHeight
                    if (scrollTop >= (ob3 - 16) * 33) {
                        scrollTop = 0; //循环滚动，重置滚动头即可
                    }
                }
            }, 50);
        }
        $('#gridList').mouseover(function () {//添加over事件，停止滚动
            clearInterval(timer);
        });
        $('#gridList').mouseout(function (e) {//添加mouseout事件，继续滚动
            scrollBody();
        });
        if (ob3 > 16) {
            scrollBody();///开始滚动jqgrid内容
        }
    }
    function OngridList() {
        var $OngridList = $("#OngridList");
        $OngridList.dataGrid({
            url: "/TeamTask/EdmTeam/OnGetGridJson",
            height: 602,
            colModel: [
                {

                    label: '设备名', name: 'Equipment_Name', width: 100, align: 'center',
                    formatter: function (cellvalue, row, index) {
                        if (index.Equipment_Url !=null && index.Equipment_Url != "") {
                            //return '<div style="width:100px;height:100px;background-color:' + index.Colour + ';"><p style="text-align:center;color:white;">' + index.Equipment_Name + '</p><img src="' + index.Equipment_Url + '" style="position: absolute; margin-left:5px;margin-top:-22px;" /></div>';
                            return '<div style="width:100px;height:100px;background-image:linear-gradient(to right,' + index.Colour + ',transparent);"><p style="text-align:center;color:white;">' + index.Equipment_Name + '</p><img src="/TeamTask/EdmTeam/Image?p=' + index.Equipment_Url + '"  style="position: absolute; width:70px;height:70px; margin-left:-34px;margin-top:-15px;" /></div>';
                        }
                        else {
                            if (true) {
                                return '<div style="width:100px;height:100px;background-image:linear-gradient(to right,' + index.Colour + ',transparent);"><p style="text-align:center;color:white;">' + index.Equipment_Name + '</p></div>';
                            }
                            else {
                                return '<div  style="width:100px;height:100px;" /></div>';
                            }

                        }
                    }
                },
                {
                    label: '加工件', name: 'Workpieces_Url', width: 120, align: 'center',
                    formatter: function (cellvalue, row, index) {
                        if (index.Workpieces_Url !=null && index.Workpieces_Url != "") {
                            //return '<img src="' + index.Workpieces_Url + '"  style="width:90px;height:90px;margin-top: 5px;" />';
                            return '<img src="/TeamTask/EdmTeam/Image?p=' + index.Equipment_Url + '"  style="position: absolute; width:90px;height:90px;margin-top:-45px;margin-left: -48px;" />'
                        }
                        else {
                            if (index.Workpieces_Name != null && index.Workpieces_Name != "") {
                                return '<span  style="width:90px;height:90px;text-align:center ;" />' + index.Mold_No + '</br>' + index.Workpieces_Name + '</span>';
                            }
                            else {
                                return '<span  style="width:90px;height:90px;text-align:center ;" /></span>';
                            }
                        }
                    }
                },
                {
                    label: '今日产量', name: 'Yield', width: 80, align: 'left',
                    formatter: function (cellvalue, row, index) {
                        if (index.Yield != null && index.Yield != "") {
                            return '<span style="float:left;margin-left:22px;">' + index.Yield + '</span>';
                        }
                        else {
                            return '<span style="float:left;margin-left:22px;"></span>';
                        }
                    }
                },
                {
                    label: '稼动率', name: 'Jiadong', width: 80, align: 'left',
                    formatter: function (cellvalue, row, index) {
                        if (index.Jiadong != null) {
                            return '<span style="float:left;margin-left:10px;">' + Math.round(index.Jiadong * 100) + '%' + '</span>';
                        }
                        else {
                            return '<span style="float:left;margin-left:10px;"></span>';
                        }
                    }
                }
            ],
            //pager: "#OngridPager",
            sortname: 'Equipment_Name ASC',
            rowNum: 1000,
            viewrecords: true,
        });
    }
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/TeamTask/EdmTeam/GetGridJson",
            height: 210,
            colModel: [
                {
                    label: '', name: '', width: 30, align: 'center',
                    formatter: function (cellvalue, row, index) {
                        if (index.Colour != "") {
                            return '<span style="padding:1px 8px;border-radius:50%;background:' + index.Colour + ';"></span>'
                        }
                    }
                },
                {
                    label: '模具编号', name: 'Mold_No', width: 70, align: 'center',
                    formatter: function (cellvalue, row, index) {
                        if (index.Colour != "") {
                            return '<font style="color:' + index.Colour + '">' + index.Mold_No + '</font>';
                        }
                        else { index.Mold_No }
                    }
                },
                {
                    label: '零件编号', name: 'Part_Number', width: 60, align: 'center',
                    formatter: function (cellvalue, row, index) {
                        if (index.Colour != "") {
                            return '<font style="color:' + index.Colour + '">' + index.Part_Number + '</font>';
                        }
                        else { index.Part_Number }
                    }
                },
                {
                    label: '工序名称', name: 'Process_Name', width: 60, align: 'center',
                    formatter: function (cellvalue, row, index) {
                        if (index.Colour != "") {
                            return '<font style="color:' + index.Colour + '">' + index.Process_Name + '</font>';
                        }
                        else { index.Process_Name }
                    }
                },
                { label: '计划设备', name: 'Planned_Equipment', width: 60, align: 'center' },
                {
                    label: '开始时间', name: 'Start_Time', width: 120, align: 'center',
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' }
                },
                {
                    label: '结束时间', name: 'END_Time', width: 120, align: 'center',
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' }
                },
                {
                    label: '最晚开始时间', name: 'Latest_Start_Time', width: 120, align: 'center',
                    //formatter: "date", formatoptions: {
                    //    srcformat: 'Y/m/d H:i:s', newformat: 'Y/m/d H:i:s',
                    //},
                    formatter: function (cellvalue, row, index) {
                        if (index.Colour != "") {
                            return '<font style="color:' + index.Colour + '">' + index.Latest_Start_Time + '</font>';
                        }
                        else { index.Latest_Start_Time }
                    }
                },
                { label: '标准工时', name: 'Working_Hours', width: 60, align: 'center' },
                { label: '客户', name: 'Customer', width: 80, align: 'center' },
                { label: '模仁材质', name: 'Mold_Kernel_Material', width: 60, align: 'center' },
                { label: '类别', name: 'Category', width: 60, align: 'center' }
            ],
            //pager: "#gridPager",
            sortname: 'Start_Time desc',
            rowNum: 1000,
            viewrecords: true
        });
    }
    function echart01() {
        var listDeviceType = new Array();
        var listDeviceName = new Array();
        var listAll = new Array();

        $.ajax({
            async: false,
            url: "/TeamTask/EdmTeam/GetCapacityLoad",
            type: "get",
            dataType: "json",
            success: function (da) {
                $(da).each(function (index, item) {
                    listDeviceType.push(item.Task_Type);
                    listDeviceName.push(item.Device_Name);
                    listAll.push(item);
                })
            }
        })
        $.unique(listDeviceType.sort());
        $.unique(listDeviceName);

        var series = [];
        $.each(listDeviceType, function (index, value) {
            var tempName = new Array();
            var tempArry = new Array();
            var CdatesColour = new Array();//产能颜色
            var FdatesColour = new Array();//负荷颜色
            $.each(listAll, function (index1, value1) {
                if (value == value1.Task_Type) {
                    tempName = value1.Task_Type;
                    tempArry.push(value1.Device_Number);
                }
                if (value == "产能") {
                    CdatesColour = value1.Colour;
                } else if (value == "负荷") {
                    FdatesColour = value1.Colour;
                }
            });

            series.push({
                name: tempName,
                type: 'bar',
                barWidth: '10%',
                barGap: '80%',
                itemStyle: {
                    normal: {
                        color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                            offset: 0,
                            color: tempName == "产能" ? CdatesColour : FdatesColour // 0% 处的颜色
                            // color: tempName == "产能" ? '#1889ff' : '#fc2278' // 0% 处的颜色
                        }, {
                            offset: 1,
                            color: tempName == "产能" ? '#10e2fb' : '#f25c5e'// 100% 处的颜色
                        }], false),
                        barBorderRadius: [30, 30, 30, 30],
                        shadowColor: 'transparent',
                        shadowBlur: 4,
                        label: {
                            show: true, //开启显示
                            position: 'top', //在上方显示
                            textStyle: { //数值样式
                                color: '#ffff',
                                fontSize: 12
                            }
                        }
                    }
                },
                data: tempArry
            })
        });


        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('chart3'));

        var option = {
            legend: {
                left: 'center',
                itemWidth: 10,  //图例标记的图形宽度
                itemHeight: 10, //图例标记的图形高度
                bottom: 20,
                data: listDeviceType,//['CNC', 'EDM', 'WEDM', '车铣磨抛']
                textStyle: {    //图例文字的样式
                    color: '#ffffff',  //文字颜色
                    fontSize: 12    //文字大小
                }
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: { // 坐标轴指示器，坐标轴触发有效
                    type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '20%',
                top: '10%',
                containLabel: true
            },
            xAxis: [{
                type: 'category',
                data: listDeviceName,
                axisLine: {
                    show: false,
                    lineStyle: {
                        color: '#ffff',

                    }
                },
                axisLabel: {
                     interval: 0,
                     rotate: 40,
                    textStyle: {
                        fontSize: '11'
                    }
                },
                axisTick: { //y轴刻度线
                    show: false
                },
            }],
            yAxis: [{
                type: 'value',
                axisLine: {
                    show: false,
                    lineStyle: {
                        color: '#0be3fb'
                    }
                },
                splitLine: {
                    show: false,
                    lineStyle: {
                        color: "#57617B"
                    }
                },
                axisTick: { //y轴刻度线
                    show: false
                },
                axisLabel: {}
            }],
            series: series
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    }
    function echart02() {
        var listMonthDay = new Array();
        var listAll = new Array();
        var listDeviceName = new Array();
        $.ajax({
            async: false,
            url: "/TeamTask/EdmTeam/GetTrend",
            type: "get",
            dataType: "json",
            success: function (da) {
                $(da).each(function (index, item)
                {
                    if (item.Month_Day!="") {
                        listMonthDay.push(item.Month_Day);
                        listDeviceName.push(item.Device_Name);
                        listAll.push(item);
                    }
                })
            }
        })
        ;
        $.unique(listMonthDay);//日期
        $.unique(listDeviceName.sort());//设备名字

        var series = [];
        $.each(listDeviceName, function (index, value)
        {
            var tempName = new Array();
            var tempArry = new Array();
            $.each(listAll, function (index1, value1)
            {
                if (value == value1.Device_Name) {
                    tempName = value1.Device_Name;
                    tempArry.push(Math.round(value1.TrendRate * 100));
                }
            });
            var getRandomColor = function () {
                return '#' + Math.floor(Math.random() * 16777215).toString(16);
            }
            series.push({
                name: tempName,
                type: "line",
                symbolSize: 3,//标记的大小，可以设置成诸如 10 这样单一的数字，也可以用数组分开表示宽和高，例如 [20, 10] 表示标记宽为20，高为10[ default: 4 ]
                symbol: 'circle',//标记的图形。ECharts 提供的标记类型包括 'circle', 'rect', 'roundRect', 'triangle', 'diamond', 'pin', 'arrow'
                smooth: true, //是否平滑曲线显示
                showSymbol: false, //是否显示 symbol, 如果 false 则只有在 tooltip hover 的时候显示
                areaStyle: {
                    normal: {
                        //color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                        //    offset: 0,
                        //    color: '#f25c5e'
                        //}, {
                        //    offset: 0.8,
                        //    color: '#10e2fb'
                        //}], false),
                        shadowColor: 'transparent',
                        shadowBlur: 10,
                        opacity: 0.3,
                    }
                },
                itemStyle: {
                    normal: {
                        color: getRandomColor(),
                        lineStyle: {
                            width: 1,
                            type: 'solid' //'dotted'虚线 'solid'实线
                        },
                        borderColor: getRandomColor(), //图形的描边颜色。支持的格式同 color
                        borderWidth: 8,//描边线宽。为 0 时无描边。[ default: 0 ]
                        barBorderRadius: 0,
                        label: {
                            show: true,
                        },
                        opacity: 0.5,
                    }
                },
                data: tempArry,
            })
        });

        // 基于准备好的dom，初始化echarts实例

        var myChart = null;

        if (myChart && myChart.dispose) {
            myChart.dispose();
        }
        myChart = echarts.init(document.getElementById('chart4'));

        option = {
            //backgroundColor: "#141f56",
            legend: {
                top: 20,
                itemGap: 5,
                itemWidth: 5,
                textStyle: {
                    color: '#fff',
                    fontSize: '10'
                },
                data: listDeviceName
            },
            tooltip: {
                trigger: "axis",
                axisPointer: { // 坐标轴指示器，坐标轴触发有效
                    type: 'line', // 默认为直线，可选为：'line' | 'shadow'
                    lineStyle: {
                        color: '#57617B'
                    }
                },
                formatter: '{b}<br />{a0}: {c0}%<br />{a1}: {c1}%<br />{a2}: {c2}%<br />{a3}: {c3}%<br />{a4}: {c4}%<br />{a5}: {c5}%',
                backgroundColor: 'rgba(0,0,0,0.7)', // 背景
                padding: [8, 10], //内边距
                extraCssText: 'box-shadow: 0 0 3px rgba(255, 255, 255, 0.4);', //添加阴影
            },
            xAxis: [{
                boundaryGap: false, //坐标轴两边留白策略，类目轴和非类目轴的设置和表现不一样
                type: 'category',
                data: listMonthDay,
                axisLine: {
                    show: false,
                    lineStyle: {
                        color: '#ffff',

                    }
                },
                axisLabel: {
                     interval: 0,
                     rotate: 40,
                    textStyle: {
                        fontSize: '11'
                    }
                },
                axisTick: { //y轴刻度线
                    show: false
                },
            }],
            yAxis: {
                type: 'value',
                axisLine: {
                    show: false,
                    lineStyle: {
                        color: '#0be3fb'
                    }
                },
                splitLine: {
                    show: false,
                    lineStyle: {
                        color: "#57617B"
                    }
                },
                axisTick: { //y轴刻度线
                    show: false
                },
                axisLabel: {
                    formatter: '{value}%',
                },
            },
            series: series,
        }
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    }
    function funSBEdm() {
        window.open("/TeamTask/EdmTeam/Form1");
    }
    function funRWEdm() {
        window.open("/TeamTask/EdmTeam/Form2");
    }
    function funCNEdm() {
        window.open("/TeamTask/EdmTeam/Form3");
    }
    function funQsEdm() {
        window.open("/TeamTask/EdmTeam/Form4");
    }
</script>
<style>

</style>
<form id="form1">
    <div class="row">
        <section class="col-lg-6 connectedSortable" style="width:32%;background: url('../../../../Content/js/pages/img/BusinessOverview03.png') 0 0 / 100% 100% no-repeat;position: relative; background-size:478px 700px; margin : 10px 0px 0px 20px;">
            <div class="box box-default">
                <div class="box-header with-border">
                    <div class="box-title" style="color:#ffffff;font-size:16px;font-weight:700;">设备清单<img src="../../../../Content/js/pages/img/head.png" style="width:250px;height:12px;position: relative;margin-top:-1px;background: url('../../../../Content/js/pages/img/head.png') 0 0 / 100% 100% no-repeat;" /></div>
                    @*<div class="box-tools pull-right">
                            <button type="button" onclick="funSBEdm()" class="btn btn-box-tool"><i class="fa fa-expand"></i></button>
                        </div>*@
                </div>
                <div class="tab-content">
                    <div class="gridPanel" style="height:652px; margin:10px">
                        <table id="OngridList"></table>
                        @*<div id="OngridPager" style="text-align:center"></div>*@
                    </div>
                </div>
            </div>
        </section>

        <section class="col-lg-6 connectedSortable" style="width:32.3%;background: url('../../../../Content/js/pages/img/BusinessOverview01.png') 0 0 / 100% 100% no-repeat;position: relative;  margin : 10px 5px 0px 0px;">
            <div class="box box-default">
                <div class="box-header with-border">
                    <div class="box-title" style="color:#ffffff;font-size:16px;font-weight:700;">产能/负荷<img src="../../../../Content/js/pages/img/head.png" style="width:250px;height:12px;position: relative;margin-top:-1px;background: url('../../../../Content/js/pages/img/head.png') 0 0 / 100% 100% no-repeat;" /></div>
                    @*<div class="box-tools pull-right">
                            <button type="button" onclick="funCNEdm()" class="btn btn-box-tool"><i class="fa fa-expand"></i></button>
                        </div>*@
                </div>
                <div class="tab-content">
                    <div id="chart3" style="height:325px; margin:10px"></div>
                </div>
            </div>
        </section>

        <section class="col-lg-6 connectedSortable" style="width:32.3%;background: url('../../../../Content/js/pages/img/BusinessOverview01.png') 0 0 / 100% 100% no-repeat;position: relative;  margin : 10px 15px 0px 0px;">
            <div class="box box-default">
                <div class="box-header with-border">
                    <div class="box-title" style="color:#ffffff;font-size:16px;font-weight:700;">稼动率趋势<img src="../../../../Content/js/pages/img/head.png" style="width:250px;height:12px;position: relative;margin-top:-1px;background: url('../../../../Content/js/pages/img/head.png') 0 0 / 100% 100% no-repeat;" /></div>
                    @*<div class="box-tools pull-right">
                            <button type="button" onclick="funQsEdm()" class="btn btn-box-tool"><i class="fa fa-expand"></i></button>
                        </div>*@
                </div>
                <div class="tab-content">
                    <div id="chart4" style="height:325px; margin:10px"></div>
                </div>
            </div>
        </section>

        <section class="col-lg-6 connectedSortable" style="width:65%;background: url('../../../../Content/js/pages/img/BusinessOverview02.png') 0 0 / 100% 100% no-repeat;position: relative;  margin : 10px 10px 0px 0px;">
            <div class="box box-default">
                <div class="box-header with-border">
                    <div class="box-title" style="color:#ffffff;font-size:16px;font-weight:700;">任务清单<img src="../../../../Content/js/pages/img/head.png" style="width:325px;height:12px;position: relative;margin-top:-1px;background: url('../../../../Content/js/pages/img/head.png') 0 0 / 100% 100% no-repeat;" /></div>
                    @*<div class="box-tools pull-right">
                            <button type="button" onclick="funRWEdm()" class="btn btn-box-tool"><i class="fa fa-expand"></i></button>
                        </div>*@
                </div>
                <div class="tab-content">
                    <div class="gridPanel" style="height:250px;margin:10px">
                        <table id="gridList"></table>
                        @*<div id="gridPager" style="text-align:center"></div>*@
                    </div>
                </div>
            </div>
        </section>
    </div>
</form>

