@{
    ViewBag.Title = "生管主页";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script src="~/Content/js/echarts/4.3/echarts.js"></script>
<script src="~/Content/js/bootstrap/bootstrap.js"></script>
<link href="~/Content/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/js/pages/AdminLTE.css" rel="stylesheet" />
@*<link href="~/Content/js/pages/AdminLTE.min.css" rel="stylesheet" />*@

<link href="~/Content/js/pages/app.css" rel="stylesheet" />
<style>
    div.ui-jqgrid-view table.ui-jqgrid-btable {
        border-style: none;
        border-top-style: none;
        border-collapse: separate;
    }
    div.ui-jqgrid-view table.ui-jqgrid-btable td {
        border-left-style: none;
    }
    div.ui-jqgrid-view table.ui-jqgrid-htable {
        border-style: none;
        border-top-style: none;
        border-collapse: separate;
    }
    div.ui-jqgrid-view table.ui-jqgrid-btable th {
        border-left-style: none;
    }
</style>
<script>
    window.onload = function () {
        loadOne();
        gridList();
        loadTwo();
        loadThree1a();
        gridList3a();
        loadFour();

        loop1();
        loop2();
    }
    window.setInterval(function () {
        loadOne();
        gridList();
        loadTwo();
        loadThree1a();
        gridList3a();
        loadFour();
    }, 1000 * 60 * 30);
    function loop1() {
        var div = $('#gridList1').closest('.ui-jqgrid-bdiv')[0], offsetHeight = div.offsetHeight//////////////
            , scrollHeight = div.scrollHeight - offsetHeight, scrollTop = 0, timer = 0, ob3 = 30;
        function scrollBody() {
            timer = setInterval(function () {
                scrollTop += 1;
                div.scrollTop = scrollTop;
                if (scrollTop >= scrollHeight) {//循环滚动
                    scrollHeight = div.scrollHeight - offsetHeight;//如果在滚动过程中添加过数据，需要重新结算scrollHeight
                    if (scrollTop >= (ob3 - 16) * 33) {
                        scrollTop = 0; //循环滚动，重置滚动头即可
                    }
                }
            }, 50);
        }
        $('#gridList1').mouseover(function () {//添加over事件，停止滚动
            clearInterval(timer);
        });
        $('#gridList1').mouseout(function (e) {//添加mouseout事件，继续滚动
            scrollBody();
        });
        if (ob3 > 16) {
            scrollBody();///开始滚动jqgrid内容
        }
    }
    function loop2() {
        var div = $('#gridList2').closest('.ui-jqgrid-bdiv')[0], offsetHeight = div.offsetHeight//////////////
            , scrollHeight = div.scrollHeight - offsetHeight, scrollTop = 0, timer = 0, ob3 = 20;
        function scrollBody() {
            timer = setInterval(function () {
                scrollTop += 1;
                div.scrollTop = scrollTop;
                if (scrollTop >= scrollHeight) {//循环滚动
                    scrollHeight = div.scrollHeight - offsetHeight;//如果在滚动过程中添加过数据，需要重新结算scrollHeight
                    if (scrollTop >= (ob3 - 16) * 33) {
                        scrollTop = 0; //循环滚动，重置滚动头即可
                    }
                }
            }, 50);
        }
        $('#gridList2').mouseover(function () {//添加over事件，停止滚动
            clearInterval(timer);
        });
        $('#gridList2').mouseout(function (e) {//添加mouseout事件，继续滚动
            scrollBody();
        });
        if (ob3 > 16) {
            scrollBody();///开始滚动jqgrid内容
        }
    }
    //function selectType(obj) {
    //    loadTwo();
    //}
    function loadOne() {
        var listName = new Array();
        var Display = 0;
        var str = [];
        $.ajax({
            url: "/ProductionManage/ProductionManageHome/GetDataPMHomeMoldProgress",
            dataType: "json",
            async: false,
            success: function (data) {
                $(data).each(function (index, item) {
                    if (index == 0) {
                        Display = item.Display;
                    }
                    listName.push(item.ProgressStatus);
                    var str3 = new Object();
                    str3.name = item.ProgressStatus;
                    str3.value = item.Cost;
                    str[index] = str3;
                })
            }
        });
        var myChart = echarts.init(document.getElementById('chart1a'));
        // 指定图表的配置项和数据
        var option = {
            title: {//标题组件
                text: '在制' + Display + '套',
                top: '35%',
                left: '37%',
                textStyle: {
                    color: "#ffff",
                    fontSize: 15,
                    fontFamily: 'KaiTi',
                }
            },
            tooltip: { //提示框组件
                trigger: 'item', //触发类型(饼状图片就是用这个)
                formatter: "{b} : ({c})"//"{a} <br/>{b} : {c} ({d}%)" //提示框浮层内容格式器
            },
            color: ['#0867e9', '#f15d5d'],  //手动设置每个图例的颜色
            legend: {  //图例组件
                //right:100,  //图例组件离右边的距离
                //orient: 'horizontal',  //布局  纵向布局 图例标记居文字的左边 vertical则反之
                //width: 40,      //图行例组件的宽度,默认自适应
                //x: 'left',   //图例显示在右边
                //y: 'top',   //图例在垂直方向上面显示居中
                itemWidth: 10,  //图例标记的图形宽度
                itemHeight: 10, //图例标记的图形高度
                bottom: 20,
                left: 'center',
                data: listName,//['物料', '外协', '自制', '异常'],
                textStyle: {    //图例文字的样式
                    color: '#ffffff',  //文字颜色
                    fontSize: 12    //文字大小
                }
            },
            series: [ //系列列表
                {
                    //name:'设备状态',  //系列名称
                    type: 'pie',   //类型 pie表示饼图
                    center: ['50%', '40%'], //设置饼的原心坐标 不设置就会默认在中心的位置
                    radius: ['40%', '70%'],  //饼图的半径,第一项是内半径,第二项是外半径,内半径为0就是真的饼,不是环形
                    itemStyle: {  //图形样式
                        normal: { //normal 是图形在默认状态下的样式；emphasis 是图形在高亮状态下的样式，比如在鼠标悬浮或者图例联动高亮时。
                            borderWidth: 4,
                            borderColor: '#092848',
                            label: {  //饼图图形上的文本标签
                                show: true,  //平常不显示
                                formatter: '{c}',
                                position: 'inner'
                            },
                            labelLine: {     //标签的视觉引导线样式
                                show: false  //平常不显示
                            }
                        },
                        emphasis: {   //normal 是图形在默认状态下的样式；emphasis 是图形在高亮状态下的样式，比如在鼠标悬浮或者图例联动高亮时。
                            label: {  //饼图图形上的文本标签
                                show: true,
                                position: 'center',
                                textStyle: {
                                    fontSize: '20',
                                    fontWeight: 'bold'
                                }
                            }
                        }
                    },
                    data: str
                }
            ]
        };
        myChart.setOption(option);
    }
    function gridList() {
        var $gridList = $("#gridList1");
        $gridList.dataGrid({
            url: "/ProductionManage/ProductionManageHome/GetGridJson",
            height: 160,
            colModel: [
                { label: '模具编号', name: 'MoldNo', width: 60, align: 'center' },
                { label: '版本', name: 'Edition', width: 40, align: 'center' },
                { label: '类型', name: 'Type', width: 40, align: 'center' },
                {
                    label: '计划交期', name: 'PlannedDeliveryDate', width: 70, align: 'center',
                    formatter: "date", formatoptions: { srcformat: 'Y/m/d', newformat: 'Y/m/d' }
                },
                {
                    label: '进度', name: 'Progress', width: 75, align: 'center',
                    formatter: function (cellvalue, row, index) {
                        //return '<div style="top: 10%;left: 50%; transform: translate(-10%, -50%);"> <div style="border: 1px #000000 solid;margin:0 auto;position: relative;width:80%; height: 5px;background-color: #f9e1e3; border-radius: 3px;"><div style="white-space: pre-line;width: ' + index.Progress + '%;height: 100%;background-color:' + index.ProgressColor + ';border-radius: 3px;"></div></div></div>'
                        debugger;
                        var temp = ''
                        temp += ' <div class="progress" style="height: 10px;">'
                        var tip = index.Progress.split(';');
                        if (tip == 0) {
                            temp += '<div class="progress-bar progress-bar-success" style="width:100%;height: 10px"></div>'
                        } else if (tip > 0) {
                            var attnum = 1 - tip;
                            temp += '<div class="progress-bar progress-bar-success" style="width:' + tip * 100 + '%;height: 10px"></div>'
                            temp += ' <div class="progress-bar progress-bar-info" style="width:' + attnum * 100 + '%;height: 10px"></div>'
                        } else if (tip.length == 2) {
                            var attnums = 1 - tip[0] - tip[1];
                            temp += '<div class="progress-bar progress-bar-success" style="width:' + tip[0] * 100 + '%;height: 10px"></div>'
                            temp += ' <div class="progress-bar progress-bar-info" style="width:' + tip[1] * 100 + '%;height: 10px"></div>'
                            temp += '  <div class="progress-bar progress-bar-warning" style="width:' + attnums * 100 + '%;height: 10px"></div>'
                        }
                        return temp;
                    }
                },
            ],
            //pager: "#gridPager",
            sortname: 'MoldNo desc',
            rowNum: 1000,
            viewrecords: true
        });
    }
    function loadTwo() {
        var listDeviceType = new Array();
        var listDeviceName = new Array();
        var listAll = new Array();
        var CdatesColour = new Array();//产能颜色
        var FdatesColour = new Array();//负荷颜色
        //var keyValue = $('#Types_id option:selected').val();
        $.ajax({
            url: "/ProductionManage/ProductionManageHome/GetDataPMHomeCapacityLoad",
            //data: { keyValue: keyValue },
            dataType: "json",
            async: false,
            success: function (da) {
                $(da).each(function (index, item) {
                    if (item.DeviceName == "产能") {
                        CdatesColour.push(item.Colour);
                    } else if (item.DeviceName == "负荷") {
                        FdatesColour.push(item.Colour);
                    }
                    listDeviceType.push(item.DeviceType);
                    listDeviceName.push(item.DeviceName);
                    listAll.push(item);
                })
            }
        })

        $.unique(listDeviceType);
        $.unique(listDeviceName.sort());

        var series = [];
        $.each(listDeviceName, function (index, value) {
            var tempName = new Array();
            var tempArry = new Array();
            $.each(listAll, function (index1, value1) {
                if (value == value1.DeviceName) {
                    tempName = value1.DeviceName;
                    tempArry.push(value1.Number);
                }
            });

            series.push({
                name: tempName,
                type: 'bar',
                barWidth: '10%',
                barGap: '80%',
                itemStyle: {
                    normal: {
                        color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                            offset: 0,
                            color: tempName == "产能" ? '#1889ff' : '#fc2278' // 0% 处的颜色
                        }, {
                            offset: 1,
                            color: tempName == "产能" ? '#10e2fb' : '#f25c5e'// 100% 处的颜色
                        }], false),
                        barBorderRadius: [30, 30, 30, 30],
                        shadowColor: 'transparent',
                        shadowBlur: 4,
                        label: {
                            show: true, //开启显示
                            position: 'top', //在上方显示
                            textStyle: { //数值样式
                                color: '#ffff',
                                fontSize: 12
                            }
                        }
                    }
                },
                data: tempArry
            })
        });

        var myChart = echarts.init(document.getElementById('chart2'));

        var option = {
            legend: {
                left: 'center',
                itemWidth: 10,  //图例标记的图形宽度
                itemHeight: 10, //图例标记的图形高度
                bottom: 20,
                data: listDeviceName,//['CNC', 'EDM', 'WEDM', '车铣磨抛']
                textStyle: {    //图例文字的样式
                    color: '#ffffff',  //文字颜色
                    fontSize: 12    //文字大小
                }
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: { // 坐标轴指示器，坐标轴触发有效
                    type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '20%',
                top:'10%',
                containLabel: true
            },
            xAxis: [{
                type: 'category',
                data: listDeviceType,
                axisLine: {
                    show: false,
                    lineStyle: {
                        color: '#ffff',

                    }
                },
                axisLabel: {
                    // interval: 0,
                    // rotate: 40,
                    textStyle: {
                        fontSize: '11'
                    }
                },
                axisTick: { //y轴刻度线
                    show: false
                },
            }],
            yAxis: [{
                type: 'value',
                axisLine: {
                    show: false,
                    lineStyle: {
                        color: '#0be3fb'
                    }
                },
                splitLine: {
                    show: false,
                    lineStyle: {
                        color: "#57617B"
                    }
                },
                axisTick: { //y轴刻度线
                    show: false
                },
                axisLabel: {}
            }],
            series: series
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option, true);
    }
    function loadThree1a() {
        var listName = new Array();
        var str = [];
        $.ajax({
            url: "/ProductionManage/ProductionManageHome/GetDataPMHomeOutsourcingRateWX",
            dataType: "json",
            async: false,
            success: function (data) {
                $(data).each(function (index, item) {
                    listName.push(item.Type);
                    var str3 = new Object();
                    str3.name = item.Type;
                    str3.value = item.Cost;
                    str[index] = str3;
                })
            }
        });
        var myChart1 = echarts.init(document.getElementById('chart3a'));
        var option1 = {
            tooltip: {
                trigger: 'item',
                formatter: "{b} : ({c}%)"
            },
            legend: {
                //orient: 'vertical',
                //left: 'left',
                //top: 40,
                //itemWidth: 10,  //图例标记的图形宽度
                //itemHeight: 10, //图例标记的图形高度
                left: 'center',
                itemWidth: 10,  //图例标记的图形宽度
                itemHeight: 10, //图例标记的图形高度
                bottom: 20,
                data: listName,
                textStyle: {    //图例文字的样式
                    color: '#ffffff',  //文字颜色
                    fontSize: 12    //文字大小
                }
            },
            color: ['#0867e9', '#f15d5d'],
            series: [
                {
                    name: '访问来源',
                    type: 'pie',
                    radius: '85%',
                    center: ['50%', '50%'],
                    data: str,
                    itemStyle: {  //图形样式
                        normal: { //normal 是图形在默认状态下的样式；emphasis 是图形在高亮状态下的样式，比如在鼠标悬浮或者图例联动高亮时。
                            label: {  //饼图图形上的文本标签
                                show: true,  //平常不显示
                                formatter: '{c}%',
                                position: 'inner'
                            },
                            labelLine: {     //标签的视觉引导线样式
                                show: false  //平常不显示
                            }
                        },
                        emphasis: {   //normal 是图形在默认状态下的样式；emphasis 是图形在高亮状态下的样式，比如在鼠标悬浮或者图例联动高亮时。
                            label: {  //饼图图形上的文本标签
                                show: true,
                                position: 'center',
                                textStyle: {
                                    fontSize: '20',
                                    fontWeight: 'bold'
                                }
                            },
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                }
            ]
        };
        myChart1.setOption(option1);
    }
    function gridList3a() {
        var $gridList2 = $("#gridList2");
        $gridList2.dataGrid({
            url: "/ProductionManage/ProductionManageHome/GetGridJsonDetailA",
            height: 270,
            colModel: [
                {
                    label: '模号', name: 'ModuleNumber', width: 58, align: 'center',
                    formatter: function (cellvalue, row, index) {
                        if (index.DaysOfExtensionColor != "") {
                            return '<font style="color:' + index.DaysOfExtensionColor + '">' + index.ModuleNumber + '</font>';
                        }
                        else { return '<font>' + index.ModuleNumber + '</font>'; }
                    }
                },
                {
                    label: '工件号', name: 'WorkpieceNo', width: 45, align: 'center',
                    formatter: function (cellvalue, row, index) {
                        if (index.DaysOfExtensionColor != "") {
                            return '<font style="color:' + index.DaysOfExtensionColor + '">' + index.WorkpieceNo + '</font>';
                        }
                        else { return '<font>' + index.WorkpieceNo + '</font>'; }
                    }
                },
                {
                    label: '委外工序', name: 'WorkingProcedure', width: 60, align: 'center',
                    formatter: function (cellvalue, row, index) {
                        if (index.DaysOfExtensionColor != "") {
                            return '<font style="color:' + index.DaysOfExtensionColor + '">' + index.WorkingProcedure + '</font>';
                        }
                        else { return '<font>' + index.WorkingProcedure + '</font>'; }
                    }
                },
                {
                    label: '供应商', name: 'Supplier', width: 60, align: 'center',
                    formatter: function (cellvalue, row, index) {
                        if (index.DaysOfExtensionColor != "") {
                            return '<font style="color:' + index.DaysOfExtensionColor + '">' + index.Supplier + '</font>';
                        }
                        else { return '<font>' + index.Supplier + '</font>'; }
                    }
                },
                {
                    label: '计划交期', name: 'PlannedDeliveryDate', width: 60, align: 'center',
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
                },
                {
                    label: '延期天数', name: 'DaysOfExtension', width: 45, align: 'center',
                    formatter: function (cellvalue, row, index) {
                        if (index.DaysOfExtensionColor != "") {
                            return '<font style="color:' + index.DaysOfExtensionColor + '">' + index.DaysOfExtension + '</font>';
                        }
                        else { return '<font>' + index.DaysOfExtension + '</font>'; }
                    }
                },
                {
                    label: '状态', name: 'OrderStatus', width: 45, align: 'center',
                    formatter: function (cellvalue, row, index) {
                        if (index.DaysOfExtensionColor != "") {
                            return '<font style="color:' + index.DaysOfExtensionColor + '">' + index.OrderStatus + '</font>';
                        }
                        else { return '<font>' + index.OrderStatus + '</font>'; }
                    }
                },
            ],
            //pager: "#gridPager",
            sortname: 'ModuleNumber desc',
            rowNum: 1000,
            viewrecords: true
        });
    }
    function loadFour() {
        var listMonthDay = new Array();
        var listAll = new Array();
        var listDeviceName = new Array();
        $.ajax({
            url: "/ProductionManage/ProductionManageHome/GetDataPMHomeJiadongRate",
            dataType: "json",
            async: false,
            success: function (data) {
                $(data).each(function (index, item) {
                    if (item.Month_Day != "") {
                        listMonthDay.push(item.Month_Day);
                        listDeviceName.push(item.Device_Name);
                        listAll.push(item);
                    }
                })
            }
        });
        $.unique(listMonthDay);//日期
        $.unique(listDeviceName.sort());//设备名字

        var series = [];
        $.each(listDeviceName, function (index, value) {
            var tempName = new Array();
            var tempArry = new Array();
            $.each(listAll, function (index1, value1) {
                if (value == value1.Device_Name) {
                    tempName = value1.Device_Name;
                    tempArry.push(value1.TrendRate);
                }
            });
            var getRandomColor = function () {
                return '#' + Math.floor(Math.random() * 16777215).toString(16);
            }
            series.push({
                name: tempName,
                type: 'line',
                smooth: true,
                stack: '总量' + index,
                data: tempArry,
                itemStyle: {
                    normal: {
                        color: getRandomColor(),
                        lineStyle: {
                           // color: getRandomColor()
                        }
                    }
                },
            })
        });

        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('chart4'));

        var option = {
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                left: 'center',
                bottom: 20,
                data: listDeviceName,
                textStyle: {    //图例文字的样式
                    color: '#ffffff',  //文字颜色
                    fontSize: 12    //文字大小
                }
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '20%',
                top:'10%',
                containLabel: true
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: listMonthDay,
                axisLine: {
                    show: false,
                    lineStyle: {
                        color: '#ffff',

                    }
                },
                axisLabel: {
                    // interval: 0,
                    // rotate: 40,
                    textStyle: {
                        fontSize: '11'
                    }
                },
                axisTick: { //y轴刻度线
                    show: false
                },
            },
            yAxis: {
                min: '60', 
                type: 'value',
                axisLine: {
                    show: false,
                    lineStyle: {
                        color: '#0be3fb'
                    }
                },
                splitLine: {
                    show: false,
                    lineStyle: {
                        color: "#57617B"
                    }
                },
                axisTick: { //y轴刻度线
                    show: false
                },
                axisLabel: {
                    show: true,
                    interval: 'auto',
                    formatter: '{value} %'
                },
                show: true,
            },
            series: series
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    }
    function funOne() {
        window.open("/ProductionManage/ProductionManageHome/Form1");
    }
    function funTwo() {
        window.open("/ProductionManage/ProductionManageHome/Form2");
    }
    function funThree() {
        window.open("/ProductionManage/ProductionManageHome/Form3");
    }
    function funFour() {
        window.open("/ProductionManage/ProductionManageHome/Form4");
    }
</script>
<body>
    <div class="row">
        <section class="col-lg-6 connectedSortable" style="width:48%;background: url('../../../../Content/js/pages/img/BusinessOverview01.png') 0 0 / 100% 100% no-repeat;position: relative;  margin : 10px 5px 5px 20px;">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h4 class="box-title" style="color:#ffffff;font-size:16px;font-weight:700;">生产进度<img src="../../../../Content/js/pages/img/head.png" style="width:325px;height:12px;position: relative;margin-top:-1px;background: url('../../../../Content/js/pages/img/head.png') 0 0 / 100% 100% no-repeat;" /></h4>
                    @*<div class="box-tools pull-right">
                        <button type="button" onclick="funOne()" class="btn btn-box-tool"><i class="fa fa-expand"></i></button>
                    </div>*@
                </div>
                <div class="tab-content" style="height:100%;">
                    <div style="float:left;width:40%">
                        <div style="text-align:center;font-size:13px;color:#ffffff;">模具进度</div>
                        <div id="chart1a" style="height:267px; "></div>
                    </div>
                    <div style="margin-left:40%;width:auto;">
                        <div style="text-align:center;font-size:13px;color:#ffffff;">延期模具</div>
                        <table id="gridList1" ></table>
                    </div>
                </div>
            </div>
        </section>

        <section class="col-lg-6 connectedSortable" style="width:48.5%;background: url('../../../../Content/js/pages/img/BusinessOverview01.png') 0 0 / 100% 100% no-repeat;position: relative;  margin : 10px 15px 5px 5px;">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h4 class="box-title" style="color:#ffffff;font-size:16px;font-weight:700;">产能/负载<img src="../../../../Content/js/pages/img/head.png" style="width:325px;height:12px;position: relative;margin-top:-1px;background: url('../../../../Content/js/pages/img/head.png') 0 0 / 100% 100% no-repeat;" /></h4>
                    @*<div style="float:right">
                        <select id="Types_id" name="Types" style="border: solid 1px #000;" onchange="selectType(this)">
                            <option value="1" selected="selected">一周</option>
                            <option value="2">两周</option>
                            <option value="3">三周</option>
                            <option value="4">一个月</option>
                            <option value="5">半年</option>
                            <option value="6">一年</option>
                        </select>
                    </div>*@
                    @*<div class="box-tools pull-right">
                        <button type="button" onclick="funTwo()" class="btn btn-box-tool"><i class="fa fa-expand"></i></button>
                    </div>*@
                </div>
                <div class="tab-content">
                    <div id="chart2" style="height:287px;"></div>
                </div>
            </div>
        </section>

        <section class="col-lg-6 connectedSortable" style="width:48%;background: url('../../../../Content/js/pages/img/BusinessOverview01.png') 0 0 / 100% 100% no-repeat;position: relative;  margin : 5px 5px 0px 20px;">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h4 class="box-title" style="color:#ffffff;font-size:16px;font-weight:700;">外协追踪<img src="../../../../Content/js/pages/img/head.png" style="width:325px;height:12px;position: relative;margin-top:-1px;background: url('../../../../Content/js/pages/img/head.png') 0 0 / 100% 100% no-repeat;" /></h4>
                    @*<div class="box-tools pull-right">
                        <button type="button" onclick="funThree()" class="btn btn-box-tool"><i class="fa fa-expand"></i></button>
                    </div>*@
                </div>
                <div class="tab-content" style="height:100%;">
                    <div style="height:325px">
                        <div style="float:left;width:73%">
                            <table id="gridList2"></table>
                        </div>
                        <div style="margin-left:73%;">
                            <div style="text-align:center;font-size:13px;color:#ffffff">外协按期交付率</div>
                            <div id="chart3a" style="height:300px; "></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="col-lg-6 connectedSortable" style="width:48.5%;background: url('../../../../Content/js/pages/img/BusinessOverview01.png') 0 0 / 100% 100% no-repeat ;position: relative;  margin : 5px 15px 0px 5px;">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h4 class="box-title" style="color:#ffffff;font-size:16px;font-weight:700;">稼动率<img src="../../../../Content/js/pages/img/head.png" style="width:325px;height:12px;position: relative;margin-top:-1px;background: url('../../../../Content/js/pages/img/head.png') 0 0 / 100% 100% no-repeat;" /></h4>
                    @*<div class="box-tools pull-right">
                        <button type="button" onclick="funFour()" class="btn btn-box-tool"><i class="fa fa-expand"></i></button>
                    </div>*@
                </div>
                <div class="tab-content" style="height:100%;">
                    <div style="text-align:center;font-size:13px;color:#ffffff;">稼动率趋势</div>
                    <div id="chart4" style="height:287px; margin:10px"></div>
                </div>
            </div>
        </section>
    </div>
</body>
