<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--nfinebase库-->
    <add key="conn_nfinebase" value="YNmhifTW8gjLziTc4oOLV7Q7ejptU9A6lf0uJQUZOaMFprdlqc5oIMVpe7IwOK87tijrKm8KocHuIpZKTGgUMpVEj7NpkSs9OetSniAl4MadwzXlnZ2KU1syiblQy3V0ipq8AHi8glivSX0ifVSm3Q==" />
    <!--班组任务-->
    <!--任务清单-->
    <!--CNC根据条件查询前N条-->
    <add key="cnc_device_task_top" value="ORDER BY upload_time DESC LIMIT 10" />
    <!--CNC-1:其它状态0:加工中1:暂停2:超期(状态顺序对应下面顺序的颜色)-->
    <add key="cnc_device_task_colour1" value="#FF0000" />
    <add key="cnc_device_task_colour2" value="#00FF00" />
    <add key="cnc_device_task_colour3" value="#00FFFF" />
    <add key="cnc_device_task_colour4" value="#C0C0C0" />
    <!--EDM根据条件查询前N条-->
    <add key="edm_device_task_top" value="ORDER BY upload_time DESC LIMIT 10" />
    <!--EDM-1:其它状态0:加工中1:暂停2:超期(状态顺序对应下面顺序的颜色)-->
    <add key="edm_device_task_colour1" value="#FF0000" />
    <add key="edm_device_task_colour2" value="#00FF00" />
    <add key="edm_device_task_colour3" value="#00FFFF" />
    <add key="edm_device_task_colour4" value="#C0C0C0" />
    <!--WE根据条件查询前N条-->
    <add key="we_device_task_top" value="ORDER BY upload_time DESC LIMIT 10" />
    <!--WE-1:其它状态0:加工中1:暂停2:超期(状态顺序对应下面顺序的颜色)-->
    <add key="we_device_task_colour1" value="#FF0000" />
    <add key="we_device_task_colour2" value="#00FF00" />
    <add key="we_device_task_colour3" value="#00FFFF" />
    <add key="we_device_task_colour4" value="#C0C0C0" />

    <!--设备清单-->
    <!--CNC根据条件查询前N条-->
    <add key="cnc_device_running_top" value="ORDER BY upload_time DESC LIMIT 10" />
    <!--CNC-1:其它状态0:加工中1:暂停2:超期(状态顺序对应下面顺序的颜色)-->
    <add key="cnc_device_running_colour1" value="#FF0000" />
    <add key="cnc_device_running_colour2" value="#00FF00" />
    <add key="cnc_device_running_colour3" value="#00FFFF" />
    <add key="cnc_device_running_colour4" value="#C0C0C0" />
    <!--EDM根据条件查询前N条-->
    <add key="edm_device_running_top" value="ORDER BY upload_time DESC LIMIT 10" />
    <!--EDM-1:其它状态0:加工中1:暂停2:超期(状态顺序对应下面顺序的颜色)-->
    <add key="edm_device_running_colour1" value="#FF0000" />
    <add key="edm_device_running_colour2" value="#00FF00" />
    <add key="edm_device_running_colour3" value="#00FFFF" />
    <add key="edm_device_running_colour4" value="#C0C0C0" />
    <!--WE根据条件查询前N条-->
    <add key="we_device_running_top" value="ORDER BY upload_time DESC LIMIT 10" />
    <!--WE-1:其它状态0:加工中1:暂停2:超期(状态顺序对应下面顺序的颜色)-->
    <add key="we_device_running_colour1" value="#FF0000" />
    <add key="we_device_running_colour2" value="#00FF00" />
    <add key="we_device_running_colour3" value="#00FFFF" />
    <add key="we_device_running_colour4" value="#C0C0C0" />

    <!--品质工程-->
    <!--班组合格率大于等于（pass_rate_days）多少天，就设置大于且等于（DY_pass_rate_days_colour）的颜色，反之设置（XY_pass_rate_days_colour）小于的颜色-->
    <add key="pass_rate_days" value="90" />
    <add key="DY_pass_rate_days_colour" value="#01B468" />
    <add key="XY_pass_rate_days_colour" value="#F9F900" />
    <!--异常处理单据明细-->
    <!--处理方式:的条件匹配则显示下面(Treatment_Method_Colour)的颜色-->
    <add key="Treatment_Method" value="报废" />
    <add key="Treatment_Method_Colour" value="##F9F900" />
    
    

  </appSettings>
</configuration>