<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <!--nfinebase库-->
      <add key="conn_nfinebase" value="YNmhifTW8gjLziTc4oOLV7Q7ejptU9A6lf0uJQUZOaMFprdlqc5oIMVpe7IwOK87tijrKm8KocHuIpZKTGgUMpVEj7NpkSs9OetSniAl4MadwzXlnZ2KU1syiblQy3V0ipq8AHi8glivSX0ifVSm3Q==" />

      <!--班组任务-->
      <!--产能负荷-->
      <!--CNC 日期区间：输入多少就是当前的N+1(往后)-->
      <add key="cnc_process_plan_date" value="6" />
      <!--CNC 产能：负荷小于产能的颜色-->
      <add key="cnc_process_plan_cl_zc" value="#FFFF00" />
      <!--CNC 产能：负荷大于产能的颜色-->
      <add key="cnc_process_plan_cl_fzc" value="#FF0000" />
      <!--CNC 负荷：负荷小于产能的颜色-->
      <add key="cnc_process_plan_fh_zc" value="#FF00FF" />
      <!--CNC 负荷：负荷大于产能的颜色-->
      <add key="cnc_process_plan_fh_fzc" value="#FF0000" />
      <!--EDM 日期区间：输入多少就是当前的N+1-->
      <add key="edm_process_plan_date" value="6" />
      <!--EDM 产能：负荷小于产能的颜色-->
      <add key="edm_process_plan_cl_zc" value="#FFFF00" />
      <!--EDM 产能：负荷大于产能的颜色-->
      <add key="edm_process_plan_cl_fzc" value="#FF0000" />
      <!--EDM 负荷：负荷小于产能的颜色-->
      <add key="edm_process_plan_fh_zc" value="#FF00FF" />
      <!--EDM 负荷：负荷大于产能的颜色-->
      <add key="edm_process_plan_fh_fzc" value="#FF0000" />
      <!--WE 日期区间：输入多少就是当前的N+1-->
      <add key="we_process_plan_date" value="6" />
      <!--WE 产能：负荷小于产能的颜色-->
      <add key="we_process_plan_cl_zc" value="#FFFF00" />
      <!--WE 产能：负荷大于产能的颜色-->
      <add key="we_process_plan_cl_fzc" value="#FF0000" />
      <!--WE 负荷：负荷小于产能的颜色-->
      <add key="we_process_plan_fh_zc" value="#FF00FF" />
      <!--WE 负荷：负荷大于产能的颜色-->
      <add key="we_process_plan_fh_fzc" value="#FF0000" />

      <!--稼动率趋势-->
      <!--CNC 同步的天数，输入多少就是当前N+1(往后)-->
      <add key="cnc_process_real_date" value="6" />
      <!--EDM 同步的天数，输入多少就是当前N+1-->
      <add key="edm_process_real_date" value="6" />
      <!--WE 同步的天数，输入多少就是当前N+1-->
      <add key="we_process_real_date" value="6" />

      <!--运行状态-->
      <!--设备运行状态颜色-->
      <!--注意：当前运作状态的颜色与"运行状态"页面中的css保持一直，这里修改Index也要修改-->
      <!--离线-->
      <add key="offline_colour" value="#c8c8c8" />
      <!--待机-->
      <add key="standby_colour" value="#0865e3" />
      <!--运行中-->
      <add key="inoperation_colour" value="#23ab33" />
      <!--暂停-->
      <add key="suspend_colour" value="#ffc000" />
      <!--报警-->
      <add key="giveanalarm_colour" value="#ee5d5d" />
      <!--未就绪-->
      <add key="notready_colour" value="#0fcdfd" />
      <!--停止-->
      <add key="stopit_colour" value="#fc9711" />

      <!--料仓颜色控制(显示1-2号)-->
      <!--未开始-->
      <add key="NotStarted_colour" value="#D24D57" />
      <!--进行中-->
      <add key="Conduct_colour" value="#26A65B" />
      <!--已完成-->
      <add key="Completed_colour" value="#EB7347" />
      <!--异常-->
      <add key="Abnormal_colour" value="#84AF9B" />
      <!--停止-->
      <add key="Stop_colour" value="#FC9D99" />
      <!--取消-->
      <add key="Cancel_colour" value="#00CCFF" />

      <!--工程主页-->
      <!--负责客户数量颜色-->
      <add key="CustomerAmountColor" value="#0ce7ff" />
      <!--交期达成率(月)颜色-->
      <add key="DeliveryCompletionRateColor" value="#0ce7ff" />
      <!--按期交付模具(月)颜色-->
      <add key="OnTimeDeliveryMoldColor" value="#0ce7ff" />
      <!--延期交付模具(月)颜色-->
      <add key="LateDeliveryMoldColor" value="#0ce7ff" />
      <!--在制模具颜色-->
      <add key="MoldInProcessColor" value="#0ce7ff" />
      <!--正常进度颜色-->
      <add key="NormalProgressColor" value="#0ce7ff" />
      <!--进度延误颜色-->
      <add key="ScheduleDelayColor" value="#0ce7ff" />

      <!--生管主页-->
      <!--外协追踪-延期天数-->
      <!--当数据的实际值大于设置的天数,就读取下列的颜色，去改变整行的字体颜色-->
      <add key="wx_delay_days" value="3" />
      <add key="wx_delay_days_colour" value="#CCFF33" />
    </appSettings>
</configuration>