<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <!--IP地址和端口配置-->
      <add key="IPAddress" value="http://192.168.2.199:8081" />
      <!--服务器-->
      <!--<add key="IPAddress" value="http://192.168.2.96:8082" />-->
    </appSettings>
</configuration>