<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--IP地址和端口配置-->
    <add key="IPAddress" value="http://192.168.2.195:8081" />

	<add key="Url1" value="/OperationMonitoring/EngineeringHomepage/Index" />
	<add key="Url2" value="/AutomationLine/RunningState/Index" />
	<add key="Url3" value="/Electromechanical/AVICTableOne/Index" />
	<add key="Url4" value="/Electromechanical/AVICTableOne/Index" /> 
	  
    <!--<add key="Url1" value="/OperationMonitoring/EngineeringHomepage/Index" />
    <add key="Url2" value="/AutomationLine/RunningState/Index" />
    <add key="Url3" value="/AutomationLine/DataAcquisition/Index" />
    <add key="Url4" value="/ProductionManage/ProductionManageHome/Index" />
    <add key="Url5" value="/AutomationLine/Video/Index" />
    <add key="Url6" value="/QualityOptimization/QualityEngineering/Index" />
    <add key="Url7" value="/TeamTask/CNCTeam/Index" />
    <add key="Url8" value="/TeamTask/EdmTeam/Index" />
    <add key="Url9" value="/TeamTask/WETeam/Index" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>