<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <!--nfinebase库-->
      <add key="conn_nfinebase" value="YNmhifTW8giLheUIyAy12fwNy9i7Etx1PqFSTzOH9vti87wq6UkEnBAp4drg2JgPKYe1NfEW8qOdQ7nyc+onbCK4/Lu/0xi4vXHlX2JuYpS1nkkS3AQRsOPJMmDNOMagefQcbqTqB0Q=" />
      <!--负责客户数量颜色-->
      <add key="CustomerAmountColor" value="#006600" />
      <!--交期达成率(月)颜色-->
      <add key="DeliveryCompletionRateColor" value="#006666" />
      <!--按期交付模具(月)颜色-->
      <add key="OnTimeDeliveryMoldColor" value="#3300CC" />
      <!--延期交付模具(月)颜色-->
      <add key="LateDeliveryMoldColor" value="#CC0000" />
      <!--在制模具颜色-->
      <add key="MoldInProcessColor" value="#CCFFCC" />
      <!--正常进度颜色-->
      <add key="NormalProgressColor" value="#FFFF00" />
      <!--进度延误颜色-->
      <add key="ScheduleDelayColor" value="#FF66FF" />
    </appSettings>
</configuration>