<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <!--mes_center库-->
      <add key="conn_center" value="YNmhifTW8giLheUIyAy12fwNy9i7Etx1PqFSTzOH9vti87wq6UkEnBAp4drg2JgP75lP/l5WKxMFFzZZ39yccqN4A8s+P0C5cGueUmHztKTJ7uXMikb8mYNO5Dvla0EBSDL7pEneUQjcfu3AZEMJGw==" />
      <!--nfinebase库-->
      <add key="conn_nfinebase" value="YNmhifTW8giLheUIyAy12fwNy9i7Etx1PqFSTzOH9vti87wq6UkEnBAp4drg2JgPKYe1NfEW8qOdQ7nyc+onbCK4/Lu/0xi4vXHlX2JuYpS1nkkS3AQRsOPJMmDNOMagefQcbqTqB0Q=" />
      <!--产能负荷-->
      <!--CNC 日期区间：输入多少就是当前的N+1(往后)-->
      <add key="cnc_process_plan_date" value="6" />
      <!--CNC 产能：负荷小于产能的颜色-->
      <add key="cnc_process_plan_cl_zc" value="#FFFF00" />
      <!--CNC 产能：负荷大于产能的颜色-->
      <add key="cnc_process_plan_cl_fzc" value="#FF0000" />
      <!--CNC 负荷：负荷小于产能的颜色-->
      <add key="cnc_process_plan_fh_zc" value="#FF00FF" />
      <!--CNC 负荷：负荷大于产能的颜色-->
      <add key="cnc_process_plan_fh_fzc" value="#FF0000" />
      <!--EDM 日期区间：输入多少就是当前的N+1-->
      <add key="edm_process_plan_date" value="6" />
      <!--EDM 产能：负荷小于产能的颜色-->
      <add key="edm_process_plan_cl_zc" value="#FFFF00" />
      <!--EDM 产能：负荷大于产能的颜色-->
      <add key="edm_process_plan_cl_fzc" value="#FF0000" />
      <!--EDM 负荷：负荷小于产能的颜色-->
      <add key="edm_process_plan_fh_zc" value="#FF00FF" />
      <!--EDM 负荷：负荷大于产能的颜色-->
      <add key="edm_process_plan_fh_fzc" value="#FF0000" />
      <!--WE 日期区间：输入多少就是当前的N+1-->
      <add key="we_process_plan_date" value="6" />
      <!--WE 产能：负荷小于产能的颜色-->
      <add key="we_process_plan_cl_zc" value="#FFFF00" />
      <!--WE 产能：负荷大于产能的颜色-->
      <add key="we_process_plan_cl_fzc" value="#FF0000" />
      <!--WE 负荷：负荷小于产能的颜色-->
      <add key="we_process_plan_fh_zc" value="#FF00FF" />
      <!--WE 负荷：负荷大于产能的颜色-->
      <add key="we_process_plan_fh_fzc" value="#FF0000" />

      <!--稼动率趋势-->
      <!--CNC 同步的天数，输入多少就是当前N+1(往后)-->
      <add key="cnc_process_real_date" value="6" />
      <!--EDM 同步的天数，输入多少就是当前N+1-->
      <add key="edm_process_real_date" value="6" />
      <!--WE 同步的天数，输入多少就是当前N+1-->
      <add key="we_process_real_date" value="6" />
    </appSettings>
</configuration>