<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <!--mes_center库-->
      <add key="conn_center" value="YNmhifTW8giLheUIyAy12fwNy9i7Etx1PqFSTzOH9vti87wq6UkEnBAp4drg2JgP75lP/l5WKxMFFzZZ39yccqN4A8s+P0C5cGueUmHztKTJ7uXMikb8mYNO5Dvla0EBSDL7pEneUQjcfu3AZEMJGw==" />
      <!--nfinebase库-->
      <add key="conn_nfinebase" value="YNmhifTW8giLheUIyAy12fwNy9i7Etx1PqFSTzOH9vti87wq6UkEnBAp4drg2JgPKYe1NfEW8qOdQ7nyc+onbCK4/Lu/0xi4vXHlX2JuYpS1nkkS3AQRsOPJMmDNOMagefQcbqTqB0Q=" />
      <!--任务清单-->
      <!--CNC根据条件查询前N条-->
      <add key="cnc_device_task_top" value="ORDER BY upload_time DESC LIMIT 10" />
      <!--CNC-1:其它状态0:加工中1:暂停2:超期(状态顺序对应下面顺序的颜色)-->
      <add key="cnc_device_task_colour1" value="#FF0000" />
      <add key="cnc_device_task_colour2" value="#00FF00" />
      <add key="cnc_device_task_colour3" value="#00FFFF" />
      <add key="cnc_device_task_colour4" value="#C0C0C0" />
      <!--EDM根据条件查询前N条-->
      <add key="edm_device_task_top" value="ORDER BY upload_time DESC LIMIT 10" />
      <!--EDM-1:其它状态0:加工中1:暂停2:超期(状态顺序对应下面顺序的颜色)-->
      <add key="edm_device_task_colour1" value="#FF0000" />
      <add key="edm_device_task_colour2" value="#00FF00" />
      <add key="edm_device_task_colour3" value="#00FFFF" />
      <add key="edm_device_task_colour4" value="#C0C0C0" />
      <!--WE根据条件查询前N条-->
      <add key="we_device_task_top" value="ORDER BY upload_time DESC LIMIT 10" />
      <!--WE-1:其它状态0:加工中1:暂停2:超期(状态顺序对应下面顺序的颜色)-->
      <add key="we_device_task_colour1" value="#FF0000" />
      <add key="we_device_task_colour2" value="#00FF00" />
      <add key="we_device_task_colour3" value="#00FFFF" />
      <add key="we_device_task_colour4" value="#C0C0C0" />

      <!--设备清单-->
      <!--CNC根据条件查询前N条-->
      <add key="cnc_device_running_top" value="ORDER BY upload_time DESC LIMIT 10" />
      <!--CNC-1:其它状态0:加工中1:暂停2:超期(状态顺序对应下面顺序的颜色)-->
      <add key="cnc_device_running_colour1" value="#FF0000" />
      <add key="cnc_device_running_colour2" value="#00FF00" />
      <add key="cnc_device_running_colour3" value="#00FFFF" />
      <add key="cnc_device_running_colour4" value="#C0C0C0" />
      <!--EDM根据条件查询前N条-->
      <add key="edm_device_running_top" value="ORDER BY upload_time DESC LIMIT 10" />
      <!--EDM-1:其它状态0:加工中1:暂停2:超期(状态顺序对应下面顺序的颜色)-->
      <add key="edm_device_running_colour1" value="#FF0000" />
      <add key="edm_device_running_colour2" value="#00FF00" />
      <add key="edm_device_running_colour3" value="#00FFFF" />
      <add key="edm_device_running_colour4" value="#C0C0C0" />
      <!--WE根据条件查询前N条-->
      <add key="we_device_running_top" value="ORDER BY upload_time DESC LIMIT 10" />
      <!--WE-1:其它状态0:加工中1:暂停2:超期(状态顺序对应下面顺序的颜色)-->
      <add key="we_device_running_colour1" value="#FF0000" />
      <add key="we_device_running_colour2" value="#00FF00" />
      <add key="we_device_running_colour3" value="#00FFFF" />
      <add key="we_device_running_colour4" value="#C0C0C0" />

    </appSettings>
</configuration>