<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--nfinebase库-->
    <add key="conn_nfinebase" value="YNmhifTW8giLheUIyAy12fwNy9i7Etx1PqFSTzOH9vti87wq6UkEnBAp4drg2JgPKYe1NfEW8qOdQ7nyc+onbCK4/Lu/0xi4vXHlX2JuYpS1nkkS3AQRsOPJMmDNOMagefQcbqTqB0Q=" />
    <!--数据采集设备图片URL-->
    <add key="Device_Url" value="/Content/img/product/collection/cnc1.png" />
    <!--同步当前前几分钟的数据(分钟计算)-->
    <add key="Syn_minute" value="-20000" />
    
    <!--设备状态颜色-->
    <!--离线-->
    <add key="offline_colour" value="#FF0000" />
    <!--待机-->
    <add key="standby_colour" value="#00FF00" />
    <!--运行中-->
    <add key="inoperation_colour" value="#23ab33" />
    <!--暂停-->
    <add key="suspend_colour" value="#f3961d" />
    <!--报警-->
    <add key="giveanalarm_colour" value="#eb5c5d" />
    <!--未就绪-->
    <add key="notready_colour" value="#FF00FF" />
    <!--停止-->
    <add key="stopit_colour" value="#C0C0C0" />
    
    
  </appSettings>
</configuration>