
@{
    ViewBag.Title = "运行状态";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<script src="~/Content/js/bootstrap/bootstrap.js"></script>
<link href="~/Content/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
<script>

</script>

<div class="row">
   
</div>