@{
    ViewBag.Title = "运行状态";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<html lang="zh-CN">
<head>
    <script src="~/Content/js/jquery/jquery-2.1.1.min.js"></script>
    <script src="~/Content/js/pages/jquery.contip.js"></script>
    @*https://blog.csdn.net/u010810136/article/details/76585424*@
    <style type="text/css">
        .row1 {
            position: absolute;
            left: 47%;
            top: 13%;
            margin: -100px 0 0 -180px;
            width: 1px;
            height: 1px;
        }
        .row2 {
            position: absolute;
            left: 60%;
            top: 13%;
            margin: -100px 0 0 -180px;
            width: 1px;
            height: 1px;
        }
         .row3 {
            position: absolute;
            left: 80%;
            top: 13%;
            margin: -100px 0 0 -180px;
            width: 1px;
            height: 1px;
        }
        .row4 {
            position: absolute;
            left: 40%;
            top: 80%;
            margin: -100px 0 0 -180px;
            width: 1px;
            height: 1px;
        }
        .row5 {
            position: absolute;
            left: 67%;
            top: 94%;
            margin: -100px 0 0 -180px;
            width: 1px;
            height: 1px;
        }
        .row6 {
            position: absolute;
            left: 76%;
            top: 85%;
            margin: -100px 0 0 -180px;
            width: 1px;
            height: 1px;
        }
    </style>
</head>
<body>
        <div class="row1">
            <a class="one1"></a>
        </div>
        <div class="row2">
            <a class="one2"></a>
        </div>
        <div class="row3">
            <a class="one3"></a>
        </div>
        <div class="row4">
            <a class="one4"></a>
        </div>
        <div class="row5">
            <a class="one5"></a>
        </div>
        <div class="row6">
            <a class="one6"></a>
        </div>
        <div style="text-align: center;">
            <img src="" style="width:1100px;height:800px" ; />
        </div>
    <script type="text/javascript">
        window.onresize = function () {
            if (window.outerHeigth == screen.heigth && window.outerWidth == screen.width) {
            } else {
            }
        }
        window.onload = function () {
            ImgLoading();
        }
        window.setInterval(function () {
            window.location.href = document.URL;
        }, 1000 * 60);
        function ImgLoading() {
            $.ajax({
                async: false,
                url: "/AutomationLine/RunningState/GetRunningState",
                type: "get",
                dataType: "json",
                success: function (da) {
                    $(da).each(function (index, item) {
                        if (index == 0) {
                            $("img").attr("src", item.Picture_Url);
                            $('.one1').contip({
                                align: 'top', // 气泡出现的位置， top right bottom left
                                padding: 7,
                                radius: 4, // 气泡圆角大小 px
                                max_width: 222, // 气泡最大宽度 px
                                rise: -238, // 气泡相对浮动位置，可为负值
                                bg: item.DescribeColor1, // 背景颜色
                                html: item.Describe1,
                                live: true, // 总是显示
                                opacity: 0.86, // 透明度
                                show: true, // 是否默认显示
                            });
                            $('.one2').contip({
                                align: 'top', // 气泡出现的位置， top right bottom left
                                padding: 7,
                                radius: 4, // 气泡圆角大小 px
                                max_width: 222, // 气泡最大宽度 px
                                rise: -140, // 气泡相对浮动位置，可为负值
                                bg: item.DescribeColor2, // 背景颜色
                                html: item.Describe2,
                                live: true, // 总是显示
                                opacity: 0.86, // 透明度
                                show: true, // 是否默认显示
                            });
                            $('.one3').contip({
                                align: 'top', // 气泡出现的位置， top right bottom left
                                padding: 7,
                                radius: 4, // 气泡圆角大小 px
                                max_width: 222, // 气泡最大宽度 px
                                rise: -140, // 气泡相对浮动位置，可为负值
                                bg: item.DescribeColor3, // 背景颜色
                                html: item.Describe3,
                                live: true, // 总是显示
                                opacity: 0.86, // 透明度
                                show: true, // 是否默认显示
                            });
                            $('.one4').contip({
                                align: 'left', // 气泡出现的位置， top right bottom left
                                padding: 7,
                                radius: 4, // 气泡圆角大小 px
                                max_width: 222, // 气泡最大宽度 px
                                rise: -50, // 气泡相对浮动位置，可为负值
                                bg: item.DescribeColor4, // 背景颜色
                                html: item.Describe4,
                                live: true, // 总是显示
                                opacity: 0.86, // 透明度
                                show: true, // 是否默认显示
                                v_size: 6, // 尖角的大小，像素
                                v_pos: 0.5, // 尖角出现的位置
                                v_px: -15, // 尖角出现的位置的偏移 px像素 可为负值
                            });
                            $('.one5').contip({
                                align: 'bottom', // 气泡出现的位置， top right bottom left
                                padding: 7,
                                radius: 4, // 气泡圆角大小 px
                                max_width: 222, // 气泡最大宽度 px
                                rise: 10, // 气泡相对浮动位置，可为负值
                                bg: item.DescribeColor5, // 背景颜色
                                html: item.Describe5,
                                live: true, // 总是显示
                                opacity: 0.86, // 透明度
                                show: true, // 是否默认显示
                                v_size: 6, // 尖角的大小，像素
                                v_pos: 0.5, // 尖角出现的位置
                                v_px: 20, // 尖角出现的位置的偏移 px像素 可为负值
                            });
                            $('.one6').contip({
                                align: 'bottom', // 气泡出现的位置， top right bottom left
                                padding: 7,
                                radius: 4, // 气泡圆角大小 px
                                max_width: 222, // 气泡最大宽度 px
                                rise: 0, // 气泡相对浮动位置，可为负值
                                bg: item.DescribeColor6, // 背景颜色
                                html: item.Describe6,
                                live: true, // 总是显示
                                opacity: 0.86, // 透明度
                                show: true, // 是否默认显示
                                v_size: 6, // 尖角的大小，像素
                                v_pos: 0.5, // 尖角出现的位置
                                v_px: 20, // 尖角出现的位置的偏移 px像素 可为负值
                            });
                        }
                    })
                }
            })
        }
    </script>
</body>
</html>
